[2016-11-10 12:48] bhadjajay23 opened #6 "pod error"
[!] Unable to find a specification for `CalendarKit`
help me for this

[2016-11-10 13:52] richardtop commented on #6
Hi, the framework hasn't been finished, so it wasn't published to pods repo.
Still, you can use it if you specify git repository in `podfile`.
`pod 'CalendarKit', :git => 'https://github.com/hyperoslo/CalendarKit.git'`
Time flies, more than a year have passed since I've started this repo, so it may not compile in its current state. You're welcome to submit a pull request, if you're willing to fix

[2016-12-11 16:31] #6 closed

[2017-01-29 12:26] Zane6w opened #9 "Can`t find CalendarKit"
Can`t find CalendarKit in CocoaPods, and download the Zip can`t opened.

[2017-01-29 12:30] richardtop commented on #9
@Zane6w Could you provide more details?
Try `pod repo update`, then `pod try CalendarKit`

or, in podfile:
[code]
and then `pod update`

[2017-01-29 12:41] Zane6w commented on #9
ok, i`ll try, thanks

[2017-01-29 16:33] TofPlay opened #10 "Carthage support"
Hi,
For iOS projets it's will be great to make your component [Carthage](https://github.com/Carthage/Carthage) compatible

Take a look at these articles:
- [Ruthlessly Simple Dependency Management with Carthage](https://bit.ly/2IWvGks)
- [Carthage Tutorial: Getting Started](https://bit.ly/2zes4dN)
- [Making Carthage-compatible Frameworks with Swift](https://bit.ly/2tXUofp)
- [Swift Cross Platform

[2017-01-30 01:47] richardtop commented on #10
Hi, @TofPlay, Carthage support is definitely coming, thanks for this issue. The [DateTools](https://github.com/MatthewYork/DateTools) framework swift version currently does not support Carthage, so I cannot integrate CalendarKit with it.
Once DateTools is out of beta, I will add Carthage support to CalendarKit.
I will keep this issue open.
Or, maybe, you have some other thoughts, how to resolve it

[2017-01-30 01:48] richardtop commented on #9
@Zane6w is your issue resolved by now?

[2017-01-30 08:13] Zane6w commented on #9
@richardtop  is resolved, thank you.

[2017-01-30 09:03] #9 closed

[2017-01-30 15:00] MosheBerman opened #12 "Same name as MBCalendarKit"
Hey,

This looks like a great library!

I made a [similar library](https://github.com/MosheBerman/MBCalendarKit) with a very similar name a few years ago. If/when I Port to Swift, I'd want to drop the prefix, and as it stands this becomes a conflict.

Any chance you would consider renaming (or at least prefixing) this one?

Thanks!

[2017-02-01 07:23] richardtop commented on #12
Hi,
I see your point, however, I doubt whether it is technically possible. This repo has been already pushed to the trunk, so what we could do is to `deprecate this repo in favor of`, which makes no sense, as the `CalendarKit` will still exist.
Here is the SO question:
http://stackoverflow.com/questions/28789807/how-to-rename-a-cocoapod
Another option is to completely remove this library via pull

[2017-02-01 16:29] MosheBerman commented on #12
You raise a good point about the difficulty with renaming the CocoaPod, so let's leave it as is. I'll just have to be creative in the name of my new one. ;)

Thanks!

[2017-02-01 16:29] #12 closed

[2017-02-06 16:40] opw0011 opened #13 "Got Swift Compiler Error in CalendarKit"
I have followed the installation guide, but still failed to integrate your library to my existing project.
I retried a few time, but still getting the same errors like this:
![a](https://cloud.githubusercontent.com/assets/10897048/22656085/28b0a7fa-eccd-11e6-9e51-398c51c1f098.png)

I noticed that recently DateTools have released the latest swift update.
It changed from `pod 'DateTools'` to 'pod 'D

[2017-02-06 17:24] richardtop commented on #13
@opw0011 Thanks for pointing this out. `DateTools` has been updated and Swift counterpart pushed to trunk. I've updated `CalendarKit` to use that new version and changed readme. Could you try again? And do not forget to remove any reference to `DateTools` from your `podfile`, as now it should be fetched automatically.

[2017-02-07 01:45] opw0011 commented on #13
Works like a charm 👍

[2017-02-07 01:45] #13 closed

[2017-02-07 23:56] Rich86man opened #15 "TimelineView does not show events when they are not overlapping"
To reproduce edit the example projects ExampleController line 59 with
```    for _ in 0...1 { ```
and scroll around for a bit.

[2017-02-08 01:03] richardtop commented on #15
Fixed in #16

[2017-02-08 01:03] #15 closed

[2017-02-10 12:17] s4x opened #18 "All-day tasks"
Hi!
Refer to apple calendar app, we need place to show all-day tasks at the bottom of timeline.

[2017-02-11 19:35] richardtop commented on #18
Good idea. Here is the example when there are multiple all-day events:
![photo_2017-02-11_22-25-02](https://cloud.githubusercontent.com/assets/8013017/22856744/036e3a5e-f0a9-11e6-94fc-e56cdce16711.jpg)

It's only a scrollview and events are stacked in a grid. I'll take on it soon. If you want, feel free to submit a pull request.

[2017-02-21 12:42] onurgurbuz opened #20 "How to usage"
Is there any video about how to usage and how to setup this?

[2017-02-21 21:01] richardtop commented on #20
@onurgurbuz is there something unclear after reading [this part of the Readme](https://github.com/richardtop/CalendarKit#usage)?

[2017-02-22 05:52] onurgurbuz commented on #20
@richardtop thanks. i did.
i think it would be good if it was usage and example video

[2017-02-22 08:38] #20 closed

[2017-02-22 14:34] richardtop commented on #20
@onurgurbuz I will add a video later. Right now I have some thoughts on decoupling interface from EventView, so the usage pattern of this library might change.

[2017-02-22 14:52] onurgurbuz commented on #20
@richardtop we are waiting. i will use that some project. if can i help anything i can. good works.

[2017-02-22 15:05] richardtop commented on #20
@onurgurbuz Thanks. You can use the library even at this stage, as the interface will change only slightly.

[2017-02-23 11:59] rugheid opened #22 "Landscape layout"
The layout falls apart in landscape mode.

[2017-02-23 15:09] richardtop commented on #22
It's a known issue, see [roadmap](https://github.com/richardtop/CalendarKit#roadmap).
Two options are possible:
Either fix and use current layout in landscape (which is inconsistent with Apple's calendar
or re-write calendar to match Apple style.
I'll mark your task as a feature request for now.

[2017-02-23 15:26] rugheid commented on #22
Ok, perfect. I would vote for the Apple compatible option, since there are currently no swift libraries that support a week-view.

[2017-02-23 15:50] richardtop commented on #22
Agree, but actually, it is possible to implement both with option 1 as transitory.
At some stage it was working:
![image](https://cloud.githubusercontent.com/assets/8013017/23266474/f47126ac-f9f8-11e6-8c9d-4e4297067e5c.png)

[2017-02-23 16:10] rugheid commented on #22
You're right, fixing the layout should be manageable in a shorter timeframe. The full week view would be a nice improvement for the future.

[2017-02-24 02:12] diegorozen opened #23 "Implementation without subclassing view controller"
Hello,

My understanding is that the library expects to be used by creating a view controller that subclasses DayViewController, taking the entire screen bounds. Is there a way to just use DayView in a region of the screen, with my view controller implementing DayViewDelegate?

Thanks!

[2017-02-24 02:51] richardtop commented on #23
Of course, there is such an option.
Just add an instance of the [DayView](https://github.com/richardtop/CalendarKit/blob/master/Source/DayView.swift) to your view hierarchy and resize accordingly. Then, implement `DayViewDataSource` in some of your classes and assign it to the `DayView`.
Please, indicate, whether this resolved your issue.

[2017-02-24 22:59] diegorozen commented on #23
Should weak var dataSource: DayViewDataSource? and weak var delegate: DayViewDelegate? be declared as public since they will be accessed from a different module?

[2017-02-24 23:23] richardtop commented on #23
@diegorozen I've updated the pod, should be OK now. Could you try one more time? `pod update` will do the job.

[2017-02-24 23:27] diegorozen commented on #23
That was fast, thanks!

[2017-02-24 23:53] richardtop commented on #23
May I close this issue?

[2017-02-25 00:13] diegorozen commented on #23
Please do

[2017-02-25 00:52] #23 closed

[2017-02-25 19:48] diegorozen opened #25 "Wrong layout when dayView is not full size"
Attaching snapshot and sample code adapted from demo one

![simulator screen shot feb 25 2017 2 47 40 pm](https://cloud.githubusercontent.com/assets/235824/23334280/64f29052-fb69-11e6-91ec-289c965a2c73.png)

[ExampleController.swift.zip](https://github.com/richardtop/CalendarKit/files/801450/ExampleController.swift.zip)

[2017-02-25 20:02] richardtop commented on #25
Hi, @diegorozen,
the problem is in references to `UIScreen.main.bounds` in some files. Right now, there are three such files. This is incorrect and should be fixed, because of two cases:
1. The one you've pointed out right now (when `UIScreen.main.bounds != view.bounds`
2. When `UIScreen.main.bounds != window.bounds`, e.g. if using iPad multitasking.

[2017-02-25 20:13] diegorozen commented on #25
Right using self.bounds instead for UIScreen bounds and moving the lines to layoutSubviews fixes the issue

[2017-02-25 21:49] #25 closed

[2017-02-25 21:49] richardtop commented on #25
Fixed in #26

[2017-02-26 19:17] diegorozen opened #27 "Adjust font sizes and label width when based on view bounds"
The font sizes and label sizes assume a large enough width for DayView. With a smaller view, labels start to overlap. Should additional params like DaySelectorStyle.dateLabelWidth and SwipeLabelStyle.labelFont be added to styles. The alternative would be to automatically size the element proportionally.

[2017-02-26 21:40] richardtop commented on #27
@diegorozen could you attach the screenshot?
Both solutions are OK, there could be value like `DateLabelWidthAuto` to force automatic width.

[2017-02-26 22:51] diegorozen commented on #27
Adding an exaggerated small one to make the issue evident:

![simulator screen shot feb 26 2017 5 50 44 pm](https://cloud.githubusercontent.com/assets/235824/23344526/244ebc4a-fc4c-11e6-9750-e4420fbc0963.png)

[2017-03-02 17:11] jaymathew opened #28 "user swipe events"
Hi,
    Is there a way to know what dates are being shown?  user swipe callbacks?

[2017-03-02 17:27] richardtop commented on #28
I agree, the library definitely needs such a callbacks. Let's discuss possible implementations.
What I propose is to use Apple-style events: call `will` before the action and `did` afterwards.
For example:
[code]
Will this implementation suit your need?
Are you going to use these callbacks to trigger data fetch or network request?
In one of my project which used [Tapku library calendar](https://gi

[2017-03-02 17:44] jaymathew commented on #28
I am fetching events via network.
I really like the idea of the before and after callbacks.

My only question is should the callback only give a date?  The swipes really show date ranges, maybe the callback should include a date range instead?

Thanks for the quick response

[2017-03-02 20:02] richardtop commented on #28
Let's consider an example when CK is configured to show only 5-day week starting from Monday? Then when iterating through Fri->Mon range would be discontiguous.

I'd suggest implementing "range" logic using separate delegate object and triggering requests when needed.
Here is how I did it, it's in Objective-C, but the code is very simple:
[code]

What do you think about it?

[2017-03-03 02:09] jaymathew commented on #28
looks good

[2017-03-09 02:58] danlozano opened #30 "EventView"
Realized that whenever a user clicks on an EventView I get the actual EventView back in the delegate method, BUT I have no way of knowing which actual Event (my own custom Model) they clicked.

I realize I could do some complicated logic by checking the Dates and trying to figure out which Event they actually clicked.

I "fixed" it locally by adding a    var extraData: Any?   property to EventView

[2017-03-09 04:05] richardtop commented on #30
Using a property to store `userInfo` is actually a very elegant solution to the problem.

Sooner or later I am going to decouple `EventViews` from the `DataSource`. This will make the library more modular overall and will help in implementing view reuse to increase performance.
After re-writing CalendarKit to request `EventModel`s instead of `EventView`s, this problem will be solved, as those mode

[2017-03-09 16:26] danlozano commented on #30
Wow! Thanks for the awesome explanation!

So, do you think we should add a data and/or userInfo property to EventView for now?

Or do you prefer making EventView subclassable so it's up to the framework's user to add any data/logic to the subclass?

Or should we just wait until EventViews are decoupled from the DataSource, and just work around these issues for now locally without modifying Calenda

[2017-03-10 00:17] richardtop commented on #30
I think that "we should add a data and/or userInfo property to EventView for now",
as `EventView` still be subclassible if needed.

As there are no date for when the framework will be decoupled, I think, your solution in #29 is good as the transition.

[2017-03-10 22:44] richardtop commented on #30
Fixed in#29

[2017-03-10 22:44] #30 closed

[2017-03-17 08:34] sw-tt-ravivora opened #31 "How to enable current month View with All 30 days ?"
Hi,
    I want to implement full calendar with monthView with all days of current month.

[2017-03-17 14:51] Boottexy opened #32 "Change event view text colour"
Hi!

Recently I started to use this library and now I need to change the label colour of all events and I can't do this. I don't know if I'm doing something wrong or what, but I can't do it.

I think this is a good aspect to think about...

[2017-03-17 20:59] richardtop commented on #31
Hi @sw-tt-ravivora,
this library was designed to be a configurable day view calendar.
Please, look at the other libraries to add MonthView and YearView functionality.

To sum up, CalendarKit is only DayView because there were already libraries that implemented MonthView and YearView.

[2017-03-18 17:22] richardtop commented on #32
Hi @Boottexy,
`EventView` is a regular `UIView`, you can subclass it and do whatever you wish. For example, change color or the algorithm using which other supplementary colors are being calculated.
To change the algorithm, just override the following property:
[code]
Feel free to ask more questions, if there is something missing in my answer.

[2017-03-18 17:24] #31 closed

[2017-03-20 19:41] jaymathew commented on #28
New 'open' Access control in Swift 3.0 is needed instead of 'public' for these new func's. Or you get the following error:

Overriding non-open instance method outside of its defining module

[2017-03-22 17:09] Boottexy commented on #32
Hi @richardtop!
You are totally right, it works!
I don't know but if you want you can close the issue.

Thank you very much!

[2017-03-22 17:09] #32 closed

[2017-03-22 17:20] Boottexy opened #34 "Restrict hours set"
Hi @richardtop !

I want to restrict the hours set presented in the calendar. For example, I want the lateral content(the hours) to be from 12:00 to 18:00.

There is currently any solution to this?

[2017-03-22 17:24] richardtop commented on #34
@Boottexy There is no currently solution for this feature.
Do you have any suggestions on how it could be implemented?
Such a restriction, being defined on a higher level could translate to the Size / Position of the TimelineContainer, which will have `ClipsToBounds` set to true.
I think, its the simplest way for implementing this feature. Also, the Timeline gets completely agnostic about the rest

[2017-03-23 06:45] richardtop commented on #28
@jaymathew taking on it and releasing today.

[2017-03-24 08:39] richardtop opened #35 "Implement NSCopying for CalendarStyle"
Implementing NSCopying for CalendarStyle will make it easier to apply adjustments to the style and less prone to errors if current style is changed without invocation of  `updateStyle` method.

[2017-03-25 11:31] #35 closed

[2017-03-25 22:41] richardtop opened #37 "Create React Native wrapper"

[2017-03-26 07:26] #28 closed

[2017-03-26 08:05] pluckq opened #39 "Scroll to first visible event?"
Hello, I guess that would be pretty good feature, or does it exist in current version ?

[2017-03-26 08:11] richardtop commented on #39
No, it doesnt, but could be added. Should be pretty easy.

[2017-03-26 09:15] pluckq opened #40 "Dates in the header and timeline are not synchronized"
On first load screen appear on next day, but if i scroll back it scrolls two days back, i.e. appear on 27 but if i scroll back will set on 25 (which is right if today is day back from day that appear), so problem in appearance i guess

[2017-03-27 05:05] pluckq commented on #40
Happens in a last day of week, in days view

[2017-03-27 05:43] MousaAlribi opened #41 "add an event outside eventViewsForDate"
is it possible? how ? i am trying to add events dynamically based on the user selected date. What I mean is even when the view is loaded I need to be able to add events and reload the view the again.

[2017-03-27 05:59] #41 closed

[2017-03-27 09:28] richardtop commented on #41
No, it's not possible. However, it's a good idea to add method `reloadData`, so events will be fetched again.

[2017-03-27 23:21] richardtop commented on #40
@pluckq I cannot reproduce this issue. It may be related to the timezone. Could you comment, in which timezone you've tested this library and found the bug?

[2017-03-28 04:33] pluckq commented on #40
UTC +5, last day of week, 2nd part of the day
appears only in header with circles, in bottom of header date is correct

[2017-03-28 11:11] richardtop commented on #40
@pluckq interesting, seems that there is some inconsistency in how header and the other part of the calendar work with dates.

[2017-03-28 11:13] pluckq commented on #40
Also I'm not sure about correct date in timeline scrollview, didn't test it

[2017-03-28 11:18] richardtop commented on #40
@pluckq it's the same problem - I suspect, the dates could be calculated slightly differently - hence the inconsistency.

[2017-04-03 22:59] richardtop opened #43 "Incorrect layout: shorter events are beneath longer ones"
![image](https://cloud.githubusercontent.com/assets/8013017/24635131/4ee6c2e0-18da-11e7-8859-36264eb68958.png)

[2017-04-03 23:43] #39 closed

[2017-04-03 23:51] richardtop opened #44 "Hours are being removed from the left part of the view even if it's not today"
Hours are being removed from the left part of the view even if it's not today
![image](https://cloud.githubusercontent.com/assets/8013017/24636237/91218a26-18e1-11e7-99f3-91a78d743e37.png)

[2017-04-03 23:54] #44 closed

[2017-04-25 06:50] opw0011 opened #48 "Calendar view does not update when deleteing the last event view"
I have implemented a feature to delete a event by long pressing a event view.
Basically, the deletion works perfectly when there are more than 1 event in the data array.
However, when I delete the last event, the calendar view does not update immediately and the deleted view just stay there. I need to swipe to next week and come back to that day. Then, deleted event will then be disappeared.

I tr

[2017-04-25 07:03] richardtop commented on #48
@opw0011, thanks for reporting! Seems that it's a bug. I will be able to check this bug during this week. However, if you have a fix or proposal, feel free to submit a pull request.
Also, I'd like to see the example code on how you're deleting events, or an simple test-project which has minimum amount of code to completely reproduce the issue.

[2017-04-28 19:23] palozinski opened #49 "Perform scroll calendar horizontal header to next or prev week by button."
Hey,

How to perform scroll horizontal calendar header to next or week by button (no gesture) ? I want do that by clicking bar button item.

[2017-05-01 02:40] syedtariq2013 opened #50 "How to scroll to the first event"
Your git comment suggested that there is a way to scroll to the first event on a day. The function scrollToFirstEvent is present but it is not clear how I can access it. Please suggest how I can handle this. Or even scroll to a specific time such as 8:00 am when I display a day view.

Are there any other examples on how to use this very useful library to implement other functions such as displayin

[2017-05-05 21:33] richardtop commented on #50
Hi @syedtariq2013, thank you for your question. I'll break down your question in a multiple parts to keep it easy to follow.

**1. Scrolling to the 1st event of the day**
Making calendar automatically scroll to the 1st event of the day is possible by setting a property `autoScrollToFirstEvent` to `true` on an instance of a [DayView](https://github.com/richardtop/CalendarKit/blob/master/Source/DayV

[2017-05-05 21:35] richardtop commented on #49
To scroll to the particular date (for example, any day next week), invoke a method `changeCurrentDate(to newDate: Date)` on an instance of a [DayView](https://github.com/richardtop/CalendarKit/blob/master/Source/DayView.swift).
You should be able to set an arbitrary date, be it next week or next year.
I hope, this helped you in setting up CalendarKit. If you need more help, don't hesitate to ask q

[2017-05-06 03:14] syedtariq2013 commented on #50
Thank you for your help

[2017-05-06 05:20] syedtariq2013 commented on #50
Hi Richard: Item 2 (Scrolling to the specific time) allowed me to meet my requirement. I called it from  my view controller which is subclassed to DayViewController using `self.dayView.scrollTo`  I tried Item 1 (scrolling to the first event) but it is not accessible from my view controller unless I inserted an open keyword in the autoScrollToFirstEvent

[2017-05-06 16:12] richardtop commented on #50
Thanks for the feedback, I'll take a look at it in a couple of days. Until now, I fix the `open` access modifier on a `autoScrollToFirstEvent`.

[2017-05-09 14:48] haithngn commented on #10
@richardtop,
Could we replace DateTools by [SwiftDate](https://github.com/malcommac/SwiftDate) then make CalendarKit completely support Carthage method ?

[2017-05-10 07:49] palozinski opened #52 "open event in own view controller"
How to open event n own view controller?

There is no indexPath or something like this.

`func dayViewDidSelectEventView(_ eventview: EventView)`

I want to retrieve data from realm data base in new view controller for selected Item.

[2017-05-10 08:53] richardtop commented on #52
Hi @palozinski,
thanks for the issue. Seems that there is really no way to easily determine which `EventView` was pressed. I'll apply fix in a few minutes.

[2017-05-10 09:31] richardtop commented on #52
`EventView` has property `descriptor` of type `EventDescriptor` which could contain any arbitrary information.
In `Event.swift` it is possible to set any object to `userInfo` which could help identify event. Later, just fetch the `userInfo`:
[code]

[2017-05-10 10:10] richardtop commented on #10
@haithngn Yes, that's possible. Feel free to submit pull request, if you would like to replace `DateTools` with `SwiftDate`.

[2017-05-10 11:06] palozinski commented on #52
Many Thanks for improvement.
Now, after `pod update` I have this error:

`Value of type 'EventDescriptor?' has no member 'userInfo'`

[2017-05-10 11:42] richardtop commented on #52
Sorry, I wrote incorrect example. This should work:
[code]

[code]

[2017-05-10 15:13] haithngn commented on #10
I have tried migrate to SwiftDate but currently CalendarKit has tight depend with DateTools's models then we have to solve that problem first.
as you know DateTools is now preparing to support Carthage so I think we have two choices:
- wait for DateTools support Carthage.
- create any CalendarKit Model class then migrate to any Date vendor frameworks.
What do you think ?

[2017-05-10 16:17] richardtop commented on #10
1. Yes, CK has a tight dependency, it was built this way (without plans to replace Neon & DateTools)
2. Waiting for DT to support Carthage is  a status quo
3. Feel free to submit a pull request if you are willing to implement this change.

Otherwise, I'd recommend you using different tool to integrate CK with your project, e.g. `CocoaPods`, Git Submodules or just by copying the source.

[2017-05-11 07:02] whitefc87 commented on #48
In my opinion, this problem occur when event data is empty.
how to solve this bug?

[2017-05-12 07:10] palozinski commented on #52
Super, many thanks !

[2017-05-12 07:10] #52 closed

[2017-05-12 09:37] jameswwwebster opened #54 "Enhancement Request: Min Date and Max Date"
It would be good to add support for a minimum and maximum date so that the pager wouldn't scroll past these values?

I may delve into the source code myself if I get the time. I envisage this as a single additional function added to the `DayViewDelegate` for `open func dayView(dayView: DayView, canMoveTo date: Date) {`. Are there any pitfalls I should be aware of if I was to approach it like this,

[2017-05-13 02:54] keith-nativemobile opened #55 "Open on a date weeks in the future"
It's 13 May but I want to show the dayView for 23 September.

I've tried calling changeCurrentDate(to newDate: Date). My chosen date is displayed briefly and then display switches to 20 May.

Is there a way to start at a date other than today?

[2017-05-13 17:49] richardtop commented on #54
Hi @jameswwwebster, thank you for the feature request!
I'd suggest adding it to an additional protocol, separate from the `delegate` and the `datasource`.
Otherwise, it looks good.

As for detailed ideas on the implementation, I see these steps are needed to make a change:
1. Make `PagingScrollView` support locking in directions (add support for similar function as you described) - now `PagingScro

[2017-05-16 15:25] fanstudiouk opened #56 "Vertical scroll [enhancement]"
Hi Richards,

Thanks for sharing the CalendarKit! It's the best pod I've found so far.

What I would suggest is to be able to enable a vertical scroll in order to get to the next day. Currently we are restricted to the horizontal one.

Looking forward to see a detailed documentation of this amazing pod.

Also, if you're interested in implementing some custom features please let me know.

Cheers,
A

[2017-05-17 10:12] Montrazul commented on #55
Yes, it is possible, but currently you need to do extend the `DayViewController` class and add the following function:

[code]

[2017-05-17 10:17] Montrazul commented on #50
Hi,

the `autoScrollTofFirstEvent` is not working always! If I initially open the `DayViewController` for the first two dates to the left and right the auto scrolling is working. But if I go further back or forward (for example 5 dates earlier) the autoscroll is not working anymore where "not working" means that the view is scrolling to the very top of the scrollview and not to the first event of

[2017-05-17 11:53] Montrazul opened #57 "Request: Details View next to Timline"
It would be nice to have a customizable details view next to the timeline view. For now i just cant get it working. I tried the following in the `DayView`'s `layoutSubviews`:

[code]
But this is really messing up everything :D

[2017-05-17 12:44] richardtop commented on #57
Hi @Montrazul,
could you please, attach a mockup of the result you'd like to achieve?
CalendarKit is built using [Neon](https://github.com/mamaral/Neon) to define layout. You may need to read Neon's docs to understand some of its concepts.

As soon as I could see the desired result, I'll be more than welcome to help.

[2017-05-17 12:47] richardtop commented on #56
Hi @fanstudiouk,
thank your for the feature request. CK was intended to be the best and fully customizable DayView and that's where I'm aiming.

Regarding your feature and Vertical Scroll:
To add this feature, a support for vertical scroll should be added to [PagingScrollView](https://github.com/richardtop/CalendarKit/blob/master/Source/PagingScrollView.swift).
Then, it would be possible to config

[2017-05-17 12:50] richardtop commented on #55
@keith-nativemobile, @Montrazul,
It is a confirmed bug in a library. I will fix it as soon as possible, the workarounds as @Montrazul posted are not recommended, as they do not solve the problem itself.

[2017-05-17 12:57] fanstudiouk commented on #56
Hi Richard,

Thanks for your prompt reply. Will give it a shot and let you know how it goes.

Another thing that I believe it's missing or would be nice to have: when we have appointments of 10-15 minutes the height is too small and you can't see the content. It would be nice to be able to zoom-in our and adjust the timeline view height.

Thanks!
Andrei

[2017-05-17 12:59] richardtop opened #58 "Zoomable timeline for small events"
@fanstudiouk

"Another thing that I believe it's missing or would be nice to have: when we have appointments of 10-15 minutes the height is too small and you can't see the content. It would be nice to be able to zoom-in our and adjust the timeline view height."

[2017-05-17 13:00] richardtop commented on #56
@fanstudiouk looking forward for your results and pull requests. Feel free to ask if something is unclear.

I've moved zooming in/out to a separate task #58

[2017-05-17 13:56] fanstudiouk commented on #55
Great! Would love to see this fixed too 👍

[2017-05-17 15:39] Montrazul commented on #57
Yes ofcourse. Thats the goal:

http://i.imgur.com/O8jmf6a.jpg

I already was able to build the layout with neon like it is on the picture but the problem is when I do that the paging scroll view is totally messed up. The TimelineView with is too much, the scroll offset isnt working etc. I guess it is because all the views are initialized with the full width of the view and I have no idea how to fi

[2017-05-17 15:42] Montrazul commented on #55
Ofcourse it does not solve the problem itself but it is a working workaround. When I set a date which is outside of the current range and call the `reloadData` method I posted you will have the result that you want to have. Better than not having the result at all :)

[2017-05-19 11:51] umangshu-chouhan opened #59 "Inconsistency with events displaying."
Select the last date on header which doesnot have a event in his timeline. Now go to next week by scrolling week header you will see that the date on week header is selected last but the events are displaying for the next day. Also i can see same events for many days in week.

[2017-05-19 13:57] Montrazul commented on #59
Do you mean it is like that in your own project or in the demo of `CalendarKit`?
If you talk about the demo its is obvious why there are equal events for many days in the week, since they are randomly picked from a given array of data.

[2017-05-21 17:36] richardtop commented on #57
@Montrazul this is a custom layout, I'd recommend creating it from scratch from CalendarKit components and not using DayView.
So, what I propose, is to treat your layout as a custom variant of DayView.
To build it, you could take `DayHeaderView` and `timelinePager` - a set of `TimelineContainer`'s embedded in `PagingScrollView`.

Here is the illustration, which components you could reuse:
<img wid

[2017-05-26 13:27] jurysch commented on #55
Count me in as someone else who would appreciate this fix!

[2017-05-26 13:51] papsti7 commented on #55
+1

[2017-05-27 21:22] keith-nativemobile commented on #55
@Montrazul Thanks for posting the workaround. Unless I'm missing something, there is no DayView constructor that accepts a date so presumably you've made changes to that class? Could you post those changes as well please?

@richardtop I'm happy to help implement the proper fix if you can give me some pointers. Part of the problem is the way DayView initialises currentDate to Date().dateOnly() but

[2017-05-27 22:03] Montrazul commented on #55
The only relevant change for the workaround is to add a constructor to the `DayView` class:

[code]

[2017-05-28 15:10] papsti7 commented on #55
@Montrazul There is no custom DayViewHeader constructor in DayViewHeader yet.

[2017-05-28 19:03] Montrazul commented on #55
@papsti7 Yes. But there is no problem to add one, is it? Its similar to the constructor in the `DayView` class which I posted above. You need it to set the date.

[2017-05-29 06:55] papsti7 commented on #55
@Montrazul No, but you said there is no other relevant change for this workaround. I just wanted to mention that there is something to change in the DayViewHeader class too.

[2017-05-29 16:54] Montrazul commented on #55
Yes indeed. My bad. I made that statement from my minds memory without looking at the code once more :D But anyway. Im sure the author will soon provide a fix for that.

[2017-05-29 19:49] ratnesh-iOSdev opened #60 "Not able to show pending notification in Calender Day view"
I was setting local notification, and later I tried to set those pendingNotificationArray as dayModel DataSource, but its crashing in library. Any clue?

[2017-05-30 22:03] jurysch opened #61 "Overlapping Events Not Being Detected"
I've seen numerous instances of events not being properly detected as overlapping, which causes one event to draw atop another given than their x-offset is incorrectly calculated.

In TimelineView.recalculateEventLayout(), the currently-operated-on event is only checked for overlap with the array's most recently added event, not the previous events in the array that could potentially be overlaps.

[2017-06-02 08:40] papsti7 opened #62 "Week(Month) View"
It would be nice to have the opportunity to choose between a day/week( and possible month) view to have a better overview of all events.

[2017-06-02 08:44] richardtop commented on #62
Hi @papsti7,
Currently CK has only Day view as there are already multiple libraries for Month views (you could integrate both CK and other library in your project)

As for 2nd part of your question, there is an issue for it already - #22

[2017-06-02 08:51] richardtop commented on #61
Hi @jurysch,
you're absolutely correct, it's a know issue. Thanks for reporting. I will get back to it in a couple of weeks.

[2017-06-23 00:17] richardtop commented on #48
Fixed in #63

[2017-06-23 00:17] #48 closed

[2017-06-23 00:19] richardtop commented on #60
Hi Ratnesh, could you please provide source code showing how you are using the library and a stack trace of the crash?

[2017-06-24 08:49] #62 closed

[2017-06-24 09:57] richardtop commented on #60
@ratnesh-iOSdev I'm closing this issue, feel free to reopen if you would like to continue discussion and there is still something unclear.

[2017-06-24 09:57] #60 closed

[2017-06-24 11:34] richardtop commented on #50
Fixed in #66

[2017-06-24 11:34] #50 closed

[2017-06-24 13:24] richardtop commented on #61
@jurysch, I've improved algorithm in PR #67, does this algorithm resolves your issue?

[2017-06-24 13:25] richardtop commented on #57
Now it is possible to extract module colored in violet, a change made in #64.

[2017-06-24 13:25] #57 closed

[2017-06-24 13:26] #43 closed

[2017-06-24 13:31] richardtop commented on #59
#9cec544a1aa5c17203c80a7ddcb1ae4566aa0bd0

[2017-06-24 13:32] richardtop commented on #59
I cannot reproduce this bug.
Also, I've added day and month to the events in demo in [this commit](https://github.com/richardtop/CalendarKit/commit/9cec544a1aa5c17203c80a7ddcb1ae4566aa0bd0), so this issue would be easier to spot in demo.

[2017-06-24 13:32] #59 closed

[2017-06-24 18:41] #49 closed

[2017-06-26 12:25] #40 closed

[2017-06-26 12:32] richardtop commented on #55
@keith-nativemobile, @papsti7, @Montrazul, @fanstudiouk, @jurysch
I've changed the way how views communicate together in #68.
The main idea is that now they communicate through common interface. This PR already fixed some of the inconsistency bugs and will make it possible to open calendar set to any arbitrary date.

[2017-07-01 16:01] #61 closed

[2017-07-04 09:15] gregbzh commented on #55
Hello, PR didn't fix issue. When setting the sate of dayView, it will update the header date label but doesn't update the header day scroller. Also it doesn't update the day view itself. When scrolling dayView, it will go to current day +1 or -1. Setting dayView state must act as "today is new set date" Best.

[2017-07-04 22:58] bithavoc opened #71 "Crash when selecting year in the future 2020"
When running the example with `pod try CalendarKit` I found that the calendar crashes with `fatal error: Index out of range` when you select any year in the future.

See at `DayHeaderView.scrollviewDidScrollToViewAtIndex`
<img width="1140" alt="screen shot 2017-07-04 at 5 58 00 pm" src="https://user-images.githubusercontent.com/219289/27844094-5722db56-60e2-11e7-836b-1a80cd28ff8c.png">

[2017-07-04 23:02] richardtop commented on #55
Hi @gregbzh,
That PR didn't fix this particular issue, hence it is open still.
I am aware of the bug you've described and will roll out new update soon.

"Moving to date" doesn't mean changing the "Today date". It means only opening calendar showing the date requested.

Do you also need a feature where the "Today date" is changed? For example, if today is `5th of July` the calendar would show `10t

[2017-07-04 23:08] richardtop commented on #71
Hi @bithavoc,
thanks for reporting this issue.

I'd like to ask you for more insights, more precisely, what actions caused the bug?
For example, scrolling header forward, or trying to set date using `DayViewState`?

[2017-07-04 23:10] bithavoc commented on #71
@richardtop this is a pretty impressive component, thank you for sharing.

It will crash after clicking in "Done" as shown in the following screen:

![screen shot 2017-07-04 at 6 09 00 pm](https://user-images.githubusercontent.com/219289/27844198-ee107c52-60e3-11e7-8baf-38234a8e8fa5.png)

It's triggered by:
[code]

[2017-07-04 23:21] richardtop commented on #71
@bithavoc thanks, I appreciate!
That is known bug and related to #55.
I will fix it in a couple of days.

[2017-07-11 13:53] adavan2107 opened #72 "Add support for editing events by drag&drop"
Thanks for the awesome library. I have integrated the same in my project, i need to drag and drop event view to the next page like ical.please advice

thanks in advance

[2017-07-12 00:07] richardtop commented on #72
Hi @adavan2107,
currently, there is no support for editing events: moving between pages or changing the duration.

[2017-07-18 10:33] iOSUser110 opened #73 "Event Text getting cut on topside"
Event text not fit properly, not properly visible to read ,
waiting for reply

[2017-07-18 12:25] richardtop commented on #73
Hi, @iOSUser110, could you provide a screenshot?

[2017-07-18 12:40] claustrofob commented on #55
@richardtop It would be nice if changing current date also scrolls timeline to selected time. If the current day is the same as the new one it just scrolls to the selected time.
Currently i have to call `dayView.scrollTo(hour24:)` after `dayView.state?.move(to:)` but it is not a stable solution.
As a logical consequence i would expect that DayView delegate methods `dayView(dayView:, willMoveTo dat

[2017-07-18 18:30] richardtop commented on #55
@claustrofob could you describe how are you going to use that feature?
Currently, all the time information is removed, as only dates are used for communication between modules.
`dayView(dayView:, didMoveTo date:)` returns `Date` as it is stated in the signature.

As far as I understood from your description, you need a method to move to date and the particular time, am I correct?

[2017-07-19 10:02] claustrofob commented on #55
@richardtop you are correct.
If a new date has a different day then the visible one, then it scrolls calendar to that day and then scrolls timeline to specified time. If a day is the same, then just scrolls timeline. Thus i need an event that fires when all that animations are finished.

Currently my workaround looks like this:
[code]

[2017-07-19 11:26] richardtop commented on #55
@claustrofob I see, so what's really needed is an event similar to
[scrollViewDidEndScrollingAnimation(_:)](https://developer.apple.com/documentation/uikit/uiscrollviewdelegate/1619379-scrollviewdidendscrollinganimati)
Another solution which comes to my mind is to create a method where time could be specified optionally:
[code]
Does the second solution satisfy your need?

[2017-07-19 12:03] claustrofob commented on #55
@richardtop yes, it will work for me:)
Just the time parameter looks a bit redundant. `Date` object may contain time. But your solution satisfies me absolutely.

Thanks.

[2017-07-21 13:15] mukulm24 opened #74 "Timeperiod is unresolved"
Using timeperiod in my viewcontroller give unresolved identifier error.

[2017-07-21 13:29] #74 closed

[2017-07-21 13:29] mukulm24 commented on #74
import DateToolsSwift was missing.

[2017-07-23 16:34] richardtop commented on #73
Closing this issue, as it is marked as fixed in #70 and is not reproducible in demos.

[2017-07-23 16:34] #73 closed

[2017-07-24 05:10] mukulm24 opened #75 "After creating event in eventsForDate ->Crash Report"
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -hash not defined for the UIColor <UIPlaceholderColor: 0x1700343e0>; need to first convert colorspace.'

[2017-07-24 05:14] mukulm24 commented on #75
event.color needs to be specified before adding an event.

[2017-07-24 05:22] mukulm24 opened #76 "How can we change time interval to half hour from 1 hour??"
I wish to change the time interval on Day view controller from 1 hour to 1/2 hour.

[2017-07-24 15:21] richardtop commented on #75
Need to set default color for event, I'll mark this issue as open.

[2017-07-24 15:22] richardtop commented on #76
It's not yet possible, but is related to #58

[2017-07-24 15:24] mukulm24 commented on #76
Work around is to increase the height of the cell from 45 to 150 or something. This makes me adding multiple events in one hour

[2017-07-24 20:46] richardtop commented on #76
@mukulm24 could you please explain more in detail?
Currently CK does not support changing the scale of the timeline.

[2017-07-25 04:50] mukulm24 commented on #76
In TimelineView.swift
change to

 var verticalDiff: CGFloat = 160

this increases the width to show more events within an hour.

[2017-07-25 04:51] mukulm24 commented on #58
@fanstudiouk

In TimelineView.swift
change to
var verticalDiff: CGFloat = 160
this increases the width to show more events within an hour.

[2017-07-25 05:11] richardtop commented on #76
@mukulm24 I see, this solution will make timeline bigger, but still, there would be no possibility to zoom in and out like in the default iOS calendar. However, it may be a good workaround, if zoomable timeline is not needed.

[2017-07-25 06:06] mukulm24 commented on #76
To add slots for half hour and quarter, we can use the following code in TimelineView.swift

override public func draw(_ rect: CGRect) {
    super.draw(rect)

    var hourToRemoveIndex = -1

    if isToday {
      let minute = currentTime.minute
      if minute > 39 {
        hourToRemoveIndex = currentTime.hour + 1
      } else if minute < 21 {
        hourToRemoveIndex = currentTime.hour
      }

[2017-07-25 16:50] richardtop commented on #76
@mukulm24 thanks for the code samples, I'll definitely take a look at it when working on #58
May I close this issue, as it has been resolved?

[2017-07-27 12:57] harshag opened #77 "Crash when move(to:) is called"
Hi @richardtop
Thanks for creating CalendarKit, it has saved several hours of our development effort.

We have a requirement to navigate to next week on tap of a button, using move(to:) we are able to do this, however, strangely we encounter a crash only when we select the first day of the week and then move to previous week. For all other scenarios it works fine.

The way we are doing is,
[code]

[2017-07-27 23:08] richardtop commented on #77
Hi @harshag, it's a known bug and it's related to #71, #55.

[2017-07-27 23:08] #76 closed

[2017-07-29 16:47] #77 closed

[2017-07-29 16:48] #71 closed

[2017-07-29 16:48] #75 closed

[2017-08-04 04:45] bloyip opened #79 "Crash when select a date of at least 1 week before the current selected date at Calendar"
Hi Richard,
I found a bug when selecting a date of at least 1 week before the current selected date at Calendar (not every time), the system will crash. It is due to the following statement in DayHeaderView has possibility to return the currentWeekDayIndex as 7.
![image](https://user-images.githubusercontent.com/30713439/28954474-3420beaa-7912-11e7-9e0c-73d2313c2967.png)

I can fix it by changing

[2017-08-06 07:44] iOSUser110 opened #80 "Not able to run pod for 0.1.21 the latest version"
I want to change the current date ,
and date change issue is resolved in your latest library .
But unable to install pod with current branch , or by putting the version 0.1.21

please reply

[2017-08-06 13:50] richardtop commented on #80
Hi @iOSUser110,
Most likely, your local Cocoapods repository hasn't been updated.
try running `pod update` and see if it resolves the issue.

I tried to install CalendarKit to an empty project and everything worked fine:
![image](https://user-images.githubusercontent.com/8013017/29003857-424276e8-7ac7-11e7-9dfb-bad5979358a6.png)

[2017-08-07 14:52] jameswwwebster opened #81 "Enhancement Request: Custom typefaces aren't supported"
Custom typefaces for each of the different types of labels don't appear supported and use `systemFontOfSize` instead. Adding an option to support custom typefaces into the styles would be beneficial.

[2017-08-09 14:17] #81 closed

[2017-08-17 15:56] gavinpquinn opened #83 "Ability to customize Event View on Timeline Calendar"
I'd like to be able to insert images, bold fonts, colors, etc.

Perhaps just using attributedText instead of plain text would be nice?

[2017-08-18 10:28] mukulm24 opened #84 "reloadData issue"
I guess reloadData of DayViewController runs on the main thread causing UI to freeze. Can you please look into it. Why does the UI hang on reloadData.

[2017-08-31 19:14] richardtop commented on #84
Hi @mukulm24, thanks for reporting this issue.
CalendarKit does some processing on the main thread. To reproduce this issue I'd like to hear a little bit more about your environment, including
- Device
- Approximate number of events per screen.

Also, I'd recommend you to check, how the date is fetched and pinpoint which part of the code is actually causing UI to freeze (for example, by using Time

[2017-08-31 19:18] richardtop commented on #83
Hi @gavinpquinn,
I will add this feature in a couple of days.

[2017-08-31 19:18] #80 closed

[2017-09-17 12:21] vgyan opened #87 "How to create a event by clicking on the time slot"
Couldn't able to find If this feature already exists ?
Can you please point out on How to ?

[2017-09-19 13:32] gavinpquinn commented on #83
Hi @richardtop any luck with this item?

[2017-09-24 16:40] richardtop commented on #87
Hi Viscenario,
There is no such functionality in the library.
To implement it, you need to use the delegate method:
[code]
This method will be called when user does `long-press` event on the timeline. In your app you could handle it and present UI for creating new event with the specified timeslot, which you can get as a `hour` parameter.

Or, maybe you would like to have a delegate method respond

[2017-09-24 17:27] richardtop commented on #83
Hi @gavinpquinn, it is fixed in PR #88, feel free to reopen this issue or comment if you need other changes.
Thanks for patience!

[2017-09-24 17:27] #83 closed

[2017-09-24 17:41] #79 closed

[2017-09-24 21:08] #84 closed

[2017-09-25 12:46] vgyan commented on #87
Thank you .. Will check that!

[2017-09-25 12:47] vgyan opened #91 "Xcode 9 and Swift 4 Migration - Help"
![screen shot 2017-09-25 at 7 46 42 am](https://user-images.githubusercontent.com/1185806/30808959-bd6672f0-a1c5-11e7-92cc-ba4f247f511b.png)

[2017-09-25 15:10] richardtop commented on #91
The latest version of the pod should work fine.
Are you on `0.2.0`?

If not, you can update to the latest version with:
`pod update`

[2017-09-27 11:50] IOSDeveloperProgrammer opened #92 "How to add start date and end date ?"
@richardtop  Thanks! I want add date start and end date. ?
`info.append("\(datePeriod.beginning!.format(with: "08:00")) - \(datePeriod.end!.format(with: "08:30"))")`
This is not working. its taken current date. help me

[2017-09-27 15:04] richardtop commented on #92
It seems to me, there is an error in your code in format string.
Referring to the [example](https://github.com/richardtop/CalendarKit#usage), you could format start date and end date strings as shown here:
[code]
Did it help you?

[2017-09-28 03:03] IOSDeveloperProgrammer commented on #92
@richardtop Thanks for the response!
`frmdt": "04-Sep-2017",
            "todt": "10-Sep-2017",
            "strdt": "2017-09-03T18:30:00.000Z",
            "endt": "2017-09-09T18:30:00.000Z",
            "frmtm": "08:45",
            "totm": "09:30",
            "caldate": "04-Sep-2017 - 10-Sep-2017",
            "caltime": "08:45 - 09:30",
this im getting array from server. i need to show on cal

[2017-09-28 07:15] jameswwwebster commented on #27
@diegorozen, I submitted a pull request a little while ago to support dynamic font sizes; this may, at least partially, help with this problem.

[2017-09-28 12:01] jameswwwebster opened #93 "Feature Request: Add support for custom hour height"
Events that are short can often have their text clipped. Adding support for a custom height to be used for the hours could resolve this in the short term. Long term I see this expanding to support pinch-zoom.

This is a feature that I plan to implement myself and submit as a pull request, however it would be good if there could be some feedback about potential pitfalls or suggested implementation

[2017-09-28 12:08] jameswwwebster opened #94 "Feature Request: Add support for localised 12-hour timeline"
The 12 hour time line currently forces xAM, xPM and noon. AM and PM indicators for each locale should be used instead. e.g. 8µ.µ. to represent 8pm in Greek.

Having a look at how this is currently implemented, I think it may be more pertienent to remove "noon" and simply replace it with 12:00 / 12pm. This is likely to be a problem both in providing the translation of "noon" in each language and re

[2017-09-28 12:11] jameswwwebster opened #95 "Feature Request: Dot indicators to represent events on a date."
On the Apple calendar, on month view, each day can have a dot underneath the date to represent the presence or absence of an event. This isn't present on the day view on the Apple Calendar, however I think that it is something the top week-banner could benefit from and could be added to this library.

This is a feature that I plan to implement myself and submit as a pull request, however it would

[2017-09-28 12:25] jameswwwebster opened #96 "Feature Request: Allow access to created event views so that they can be customised."
The specific case I have in mind is that I would like to be able to add a small warning image to events that are in a different timezone. This could be solved very specifically by adding an image view for example, however allowing access to the view itself allows for more general customisation.

A drawback however is that parts that really should remain immutable (like bounds) would be exposed.

T

[2017-09-28 12:54] richardtop commented on #93
Hi,
I suggest setting a property, e.g. in `TimelineStyle` and implementing an update code. There should be no need in any changes of the drawing code in `TimelineView`.
So, at first, adding these two properties to the `TimelineStyle` should make custom calendar scale possible:
![image](https://user-images.githubusercontent.com/8013017/30967514-3467cf38-a465-11e7-86a4-f58b37766317.png)

[2017-09-28 13:07] richardtop commented on #95
It's definitely a good idea.
Few suggestions / possible solutions, that I have in mind:
1. It's possible to turn this feature on and off by setting a property in `DaySelectorStyle`.
2. The property, in its turn, will enable the feature in `DateLabel`.
3. All the changes in style will be propagated through `CalendarStyle` `NSCopying` protocol.

Another idea is to change `Header` to use `UICollectio

[2017-09-28 13:07] jameswwwebster commented on #93
Yeah I'd experimented by changing these some of the properties directly. I'll work with these.

[2017-09-28 13:14] richardtop commented on #94
It's a good idea, I think, showing `12:00` independent of user's locale will solve the problem.
I think, the optimal tradeoff to handle this issue could be as follows:
1. Show `Noon` if locale is English.
2. Show `12:00` in other locale.
3. Always show local period indicator translation, e.g. `µ.µ` instead of `PM` in Greek.

Apple does exactly the same, the standard iOS calendar does not show tran

[2017-09-28 13:18] richardtop commented on #96
There are a couple of points you might want to check before starting this feature:
1. There is already a support for `attributedText` - maybe, this is a solution to a problem. [Pull Request](https://github.com/richardtop/CalendarKit/pull/88)
2. If this is not enough, I'd recommend adding a protocol for a generic `EventView` and the possibility of registering any view conforming to that protocol in

[2017-09-28 13:32] richardtop opened #97 "Add documentation about code style"
Documenting code style will make it less ambiguous on how to contribute to this project.

[2017-09-28 13:37] richardtop commented on #87
@vgyan I'm closing this issue as you don't have any further questions. If you'd like to ask about something else, feel free to reopen it or create a new one.

[2017-09-28 13:37] #87 closed

[2017-09-28 13:42] richardtop commented on #92
In your example there are separate entries for dates and for texts to be presented to the user. So, we need to use only text to configure the UI, this should work.
However, I noticed, that the server returns incorrect dates (18:30 for both the start and the end):
[code]
I'd recommend fixing that at first.

This is an example on how to use the strings provided by the server:
[code]

[2017-09-29 03:26] IOSDeveloperProgrammer commented on #92
@richardtop  thanks ! I'll try and let you know.

[2017-09-29 12:13] vgyan commented on #92
May be date formatting issue.. Try "yyyy MM dd HH:mm:ss.SSS" format..

[2017-09-29 12:15] vgyan commented on #91
Thanks.. That fixed the issue, Of course I had to build the framework on Xcode 9 and add to my project to make it work.

[2017-09-29 12:15] #91 closed

[2017-09-29 12:17] vgyan commented on #95
Good One.. Waiting for this

[2017-09-29 21:04] #97 closed

[2017-09-30 23:58] richardtop opened #98 "Persian (Farsi) Calendar support"
Investigate and add support for Persian calendar

[2017-10-02 07:50] jameswwwebster opened #99 "Master branch isn't in sync with pod spec."
The podspec references 0.2.0. No newer tag has been created for the latest pull request or documentation changes.

[2017-10-02 08:19] richardtop commented on #99
I've pushed all the latest changes to the CocoaPods `specs` repo now.
Release URL: https://github.com/richardtop/CalendarKit/releases/tag/0.2.1

[2017-10-02 08:19] #99 closed

[2017-10-02 12:19] jameswwwebster commented on #99
Thanks for the quick response!

[2017-10-04 09:55] IOSDeveloperProgrammer commented on #92
@richardtop @vgyan Sorry for late reply. it's nothing happen in calendar. (not working )

Usually i am getting response of every month as like below
` "rowid": "1",
            "classid": "id",
            "classname": "I ",
            "frmdt": "04-Sep-2017",
            "todt": "10-Sep-2017",
            "strdt": "2017-09-03T18:30:00.000Z",
            "endt": "2017-09-09T18:30:00.000Z",

[2017-10-06 12:55] Naveentp opened #100 "Can we get WeekView along with DayView?"
Great Library. The way you are responding for every issue is too good. I am looking for WeekView along with this Dayview. I don't want to go for another library for WeekView. Is there any chance of implementing it?

[2017-10-07 09:39] IOSDeveloperProgrammer opened #101 "I am stuck with creating events from server and even example dates and time also"
@richardtop  Please help me, i was struggling to create event  with from last 2 week.  how to create events with date & time. help me

[2017-10-09 17:27] richardtop commented on #100
Hi, thank you for the warm words.
At first, I'd like to clarify, that this feature has already been asked in #62.
Currently, there is no plans on implementing these views, as there are many other good libraries to pick from. For example [CVCalendar](https://github.com/CVCalendar/CVCalendar) or [JTCalendar](https://github.com/jonathantribouharet/JTCalendar) and they are not the only ones.

So, I'd

[2017-10-09 17:50] richardtop commented on #101
Hi, creating events is simple. Here are the steps:
1. Get information from the source (it can be a server, database, or a random generator)
2. Create an array of `Event` objects and pass it in the `DayViewDataSource` method

I wouldn't go into details on the 1st part, but will elaborate on 2nd.
The `Event` object contains all the information required to display a single event.

The steps to config

[2017-10-12 09:46] maheshiosdeveloper opened #103 "Unable to install pod 'CalendarKit', '0.1.22' For swift3 i am using xcode 8.3.3"
In this url - 'https://github.com/richardtop/CalendarKit' for swift3 they said pod 'CalendarKit', '0.1.22' but i am getting error as

[!] Unable to satisfy the following requirements: - CalendarKit (= 0.1.22) required by Podfile None of your spec sources contain a spec satisfying the dependency: CalendarKit (= 0.1.22).

You have either: * out-of-date source repos which you can update with pod repo

[2017-10-12 14:42] richardtop commented on #103
Hi, have you tried to update CocoaPods specs repository:
[code]

[2017-10-12 15:09] richardtop commented on #103
I've just tested installation in the fresh Xcode project and it worked fine:
[code]

Here is my Podfile:
[code]

So, try updating the CocoaPods repository and see, if it helps.

[2017-10-13 09:50] maheshiosdeveloper commented on #103
Thank you  'pod repo' update solution has worked

[2017-10-13 10:11] richardtop commented on #103
I'm glad to hear it. Closing this issue.

[2017-10-13 10:11] #103 closed

[2017-10-13 13:27] iOSUser110 opened #104 "Type 'NSAttributedStringKey' (aka 'NSString') has no member 'paragraphStyle'"
Type 'NSAttributedStringKey' (aka 'NSString') has no member 'paragraphStyle'

getting this errror in TimeLineView.swift file with xcode 9

[2017-10-14 05:19] maheshiosdeveloper opened #105 "how to select user specific date when executed initially"

[2017-10-16 01:12] Naveentp opened #106 "How to two way bind HeaderView and TimelineView if HeaderView in different view Controller"
Hi,

I am working on a project where I need to use Day View in SplitViewController(master controller) and header should be separated and shown above the split view controller, I have implemented desired view but couldn't connect each other.

HeaderView in BaseViewController, it contains HeaderView and SpitViewController, In SplitVC I have TimeLineView as master controller.

Help me implementing th

[2017-10-16 10:10] maheshiosdeveloper commented on #92
How to select the date in default it is taking the current date

[2017-10-16 10:45] maheshiosdeveloper opened #107 "How to select the date, In default it is taking the current date but i want to update the date"
I am unable to go to the perticualr date when i execute the code could you please help me .

[2017-10-18 10:59] fustav opened #108 "Help calendar empty: Trying to add School Class lessons to calendar"
Hello, I am having problems with adding calendar school class lessons.

I retrieve data from the server for each Subject (i.e. Bass class, guitar, drum, musical theory class, etc.)
For each class I have an object array of array with subject , class room ,  id, and an array of String of dayLessons formatted as dd-MM-yyyy

dayLessons = [dayLesson1, dayLesson2, ..., dayLessonN] = ["dd-MM-yyyy" ... ]

[2017-10-21 23:27] richardtop commented on #105
You can select a specific date by invoking a method `move(to date: Date)` on `DayViewState`:
`dayView.state.move(to: #SPECIFIC_DATE)`

[2017-10-21 23:32] richardtop commented on #104
This issue should have been fixed [in this commit](https://github.com/richardtop/CalendarKit/commit/5fd127742e815c810f2b8a275537f213e472c85d#diff-7e36d505b483ae0c17efabd9860ead56).

Please, try to update the dependencies in order to fix it by running this command:
`pod update` in project root directory.

[2017-10-21 23:33] richardtop commented on #107
Duplicate of #105, I'm closing this issue.

[2017-10-21 23:33] #107 closed

[2017-10-21 23:49] richardtop commented on #108
Hi, could you post an example server responses here?

[2017-10-23 13:13] IOSDeveloperProgrammer commented on #108
@richardtop Thanks! I am having same problem for adding lesson. This is my server response
`{
    "status": 200,
    "data": [ {
            "caldate": "02-Oct-2017",
            "schedule": [
                {
                    "caldate": "2017-10-02",
                    "subname": "Hindi",
                    "frmtm": "14:00",
                    "totm": "14:30",
                    "rsttyp":

[2017-10-24 10:45] fustav commented on #108
@IOSDeveloperProgrammer I could find out a solution but the calendar kit run execution is too slow!
@richardtop
I retrieve my Server data in background when the user is logging-in, I save data into an array of custom struct object "DayLessons"  (from the server it is calle GiorniSpot)

This is the server response:
`[{"Anno":"2017","Articolo":"TEOARM03","Aula":"A13","Corso":"TEORIA: Teoria e Armoni

[2017-10-25 05:18] IOSDeveloperProgrammer commented on #108
@fustav  thanks, I will try let you know.

[2017-10-25 11:45] NadeemHakim opened #109 "how to flip the Time Labels from left to right"
Timeline below
With Color to be changed

![timeline](https://user-images.githubusercontent.com/5569017/31996992-7b87fe9c-b99b-11e7-8ecc-0db7deb2c91f.png)

[2017-10-25 11:47] NadeemHakim commented on #72
When do you think this could be available

[2017-10-25 12:40] richardtop commented on #109
Currently there are no such functionality in the library.

[2017-10-25 12:42] richardtop commented on #72
I am not working on this issue right now and not planning on adding this feature in the near future.
However, you're welcome with a pull request if you'd like to introduce this feature.

[2017-10-25 16:55] NadeemHakim commented on #109
Noted

[2017-10-25 20:22] pacowong99 opened #110 "CocoaPods downloads old version of the library"
I'm a beginner in Swift and this is the first time I'm using a library so I'm sorry if this is a stupid question.
I installed CalendarKit into my Xcode project and I had a few errors from the compiler. Although I can fix most of them, there are 2 that I don't know how to get rid of. Could someone please help and see how I could remove these errors? Thank you so much!

<img width="1118" alt="screen

[2017-10-25 20:39] richardtop commented on #110
Hi, could you please specify your Swift version and post your `podfile.lock` file here?

[2017-10-25 21:28] pacowong99 commented on #110
Yes, I am using Swift 4.0.
[Podfile.lock.zip](https://github.com/richardtop/CalendarKit/files/1416243/Podfile.lock.zip)

[2017-10-25 21:33] richardtop commented on #110
Seems that CocoaPods are pulling the old version of the CalendarKit, the last Swift 3 release to be exact.

To fix the issue run this command in the same directory as your `podfile`:
[code]

Your issue should be resolved.

[2017-10-25 22:46] pacowong99 commented on #110
I just ran the command and the problem still exists.
<img width="697" alt="screen shot 2017-10-25 at 6 45 42 pm" src="https://user-images.githubusercontent.com/11673896/32027012-b6d60930-b9b4-11e7-8ef6-8843db369e50.png">

[2017-10-25 22:56] richardtop commented on #110
Try updating CocoaPods repository:
[code]

And then again, running this command:
[code]

Let's see, if it helps.

Alternatively, you may specify CocoaPods to pull code directly from this repository in your podfile, until this issue gets resolved.
[code]

[2017-10-26 00:57] pacowong99 commented on #110
I tried these commands but it didn't work. I tried installing CalendarKit on a fresh Xcode file and it worked perfectly for me. Is there anyway that I can remove the entire library and reinstall it fresh?

[2017-10-26 03:47] pacowong99 commented on #110
Hi I'm sorry. I just checked the fresh file. There was 22 warnings and errors in total and I ran the commands, it went to 3 warnings and 7 errors. The two original errors are here also. Thank you so much for your help on this!
<img width="1072" alt="screen shot 2017-10-25 at 11 45 26 pm" src="https://user-images.githubusercontent.com/11673896/32034145-c2d1b732-b9de-11e7-89cd-772197987db7.png">

[2017-10-26 08:23] richardtop commented on #110
Does writing this line in your podfile helps? It will make CocoaPods to pull library directly from the master branch of this repository, ignoring tags. This could be a temporary workaround.
[code]

Also, could you post your project here (it could be the minimal project setup you've mentioned earlier).

[2017-10-26 12:58] maheshiosdeveloper commented on #105
By using dayView.state.move(to: #SPECIFIC_DATE) the date which i set is in the perticular weak then it is showing the date which i set otherwise its showing the current date

[2017-10-26 16:27] pacowong99 commented on #110
I just tried that command and it worked for me! Thank you so so much for your help!

[2017-10-26 18:23] richardtop commented on #110
I'm glad to hear that.
Which command did you enter? This will help me to investigate this issue in detail, as you are not the only one who faced it.

[2017-10-26 18:38] pacowong99 commented on #110
I typed in this command in the CocoaPods OS X app.

`pod 'CalendarKit', :git => 'https://github.com/richardtop/CalendarKit.git'`

[2017-10-26 20:16] richardtop commented on #110
Unfortunately, that's just a workaround. While you can continue to work with CalendarKit, it seems that there is some error in CocoaPods repository.

I'll leave this issue open for now.

[2017-10-28 14:41] IOSDeveloperProgrammer opened #111 "How Can i get months ?"
@Rich86man @richardtop  Hello,I have two parameter. These are
1. from date
2. to date
So,  I need to send server (from -- > to) Dates.
Example:

` "fromdate" :"30-sep-2017",
       "todate" : "01-Oct-2017",`

I'm first time working on calendar. stuck with from 1 month. I don't  know to write and getting months. when i'll send from - to month server, he'll release response. This is my problem. I ac

[2017-10-31 12:43] IOSDeveloperProgrammer commented on #111
@Rich86man @richardtop  I'm first time working on calendar. stuck with from 1 month. I don't  know to write and getting months. This is my problem. I accepted. But please help me. checking previous and move date when scroll back & move up. Please help i'm stuck.

[2017-11-03 12:18] christophercarlsson opened #112 "Modify size of calendar"
Hi,
I want to add a view of custom controls specific for my app at the bottom om the view controller. I've added my view and brought it to the front, but it covers part of the timeline and I don't seem to be able to align the timeline above my view so that I can see the whole thing.
How do I proceed?

Best regards

[2017-11-06 10:52] IOSDeveloperProgrammer commented on #101
@richardtop Sorry, Still stuck with creating 'TImePeriod'
` event.datePeriod = TimePeriod(beginning: model.beginning, end: model.start)`

This my JSON Response, Please check
`"schedule": [
                {
                    "caldate": "2017-11-07",
                    "subname": "General Knowledge",
                    "frmtm": "10:15:00",
                    "totm": "11:00:00"

[2017-11-06 11:08] IOSDeveloperProgrammer commented on #108
@fustav Can you please  Once Check this issue #101

[2017-11-06 11:47] #111 closed

[2017-11-06 12:33] IOSDeveloperProgrammer commented on #92
@maheshiosdeveloper  How to create time period. I'm trying to create one event. but #101 please help me i'm stuck

[2017-11-07 05:38] richardtop commented on #112
Hi,
it is possible in the current implementation.

These steps will help you achieve the desired result:
1. Create a subclass of the UIViewController,
in the subclass:
2. Create an instance of the DayView
3. Add DayView to the main view of the ViewController as a subview
4. Resize the DayView to the desired dimensions.

Implement all the `DayViewController` methods, for example, by copying them.

[2017-11-15 17:06] iosBeappTeam opened #113 "Overlaping issue"
Hello,
First of all, thanks for the work you did.

The second point is that, i v got some issue about the overlapping, i think it need to be improved
![image-1](https://user-images.githubusercontent.com/17319330/32849470-821ee7bc-ca2f-11e7-95bd-33c69a6e0e29.jpg)

as you can see on that image the 2 right bottom event should be on the left near the first event.
Do you have any tricks to resolve it p

[2017-11-15 19:35] richardtop commented on #113
Hi, it's a bug in the library, the way it handles lots of events in the same time interval.
However, even with this bug fixed, in my opinion, there is too many events displayed.
It works best when no more than 2 or 3 events are overlapping.

[2017-11-16 08:03] iosBeappTeam commented on #113
Yes i totally agree with you there is too much event displayed, but in mind i dont want to hide some event only because there is too many :/

Ok i will try to resolve that, and share the snippet on that issue.
Feel free if you have any advice

[2017-11-16 11:47] richardtop commented on #113
Regarding too many events - then it's just a problem in data representation, and I'd recommend looking into different view, e.g. TableView instead of a Calendar.

If you would like to fix this issue, please take a look at the [TimelineView](https://github.com/richardtop/CalendarKit/blob/master/Source/Timeline/TimelineView.swift) layout code.

[2017-11-20 05:33] acshih opened #114 "Date scroll bar not matching the date label display"
I've been having issues with using JT Apple Calendar to select a date. The label will display the proper date, but the date selector above it, does not reflect the date that the label shows.

Is there an easy way to fix this? I've been told that it may be a bug.

The date scroll bar seems to take the current date, instead of the date that's been selected, say January 17th instead of showing Novemb

[2017-11-21 13:03] jSunnari opened #115 "Color on timeIndicators timelabel"
Hi

Is it possible to change to color of the timelabel on the timeindicator showing the current time?
Alternatively, is there any way to hide it?

[2017-11-21 13:08] jSunnari commented on #115
I just figured out that `timeline.timeIndicator.font = UIFont.systemFont(ofSize: 0)`is a way to hide the label.

[2017-11-22 11:56] jSunnari commented on #93
Hi, any updates how to use this?

[2017-11-24 02:31] nizzam commented on #101
@richardtop what is the calendar format ?

[2017-11-25 14:35] dastan801 commented on #110
Hi
I want to put my own time. f.e from 10:00 to 18:00 and event's for this time
Please can you help?

[2017-12-04 13:12] eastsss commented on #105
the problem is that if you're trying to select a date which is not in the current week, it won't work

[2017-12-04 17:33] Bodgar opened #116 "How do I select a specific time?"
Good day, what I want to do is something similar to what you do when you click on the event, but I just want to click on a specific time to create an event at that time. How can I do it?

[2017-12-04 18:42] richardtop commented on #116
Hi, you can use the delegate method:
[code]

Or, modify library, if you want to handle _Tap_ events instead of _LongPress_

[2017-12-05 14:25] #116 closed

[2017-12-05 14:38] Bodgar opened #117 "How to add new event?"
Good morning, I am trying once that you click on a specific time, an alert can appear and you can place the event. How can I update the timeline so that the event is already placed? Thanks!!

[2017-12-05 14:51] richardtop commented on #117
In order to add a new event, you should do the following steps:
1. Update your _EventDataSource_ by adding/removing events.
2. Call _reloadData()_ method on _DayView_
The timeline should reflect all the changes.

[2017-12-08 14:40] lincolntran commented on #95
@jameswwwebster  Are you still working on this?  I'm planning to implement it myself, but don't want to duplicate the work.

Thanks

[2017-12-08 14:43] jameswwwebster commented on #95
@lincolntran, No, I never got the chance to start on this.

[2017-12-08 15:24] lincolntran commented on #95
Ok, I'll do it then if you don't mind.

[2017-12-08 15:25] jameswwwebster commented on #95
Of course! :) This is the brilliance of open source software, everybody can contribute.

[2017-12-08 18:29] Bodgar opened #118 "How can you do so that the hours between one event and another do not collide?"
How can you do so that the hours between one event and another do not collide?

[2017-12-09 08:35] IronMaltes opened #119 "What day CalendarView is showing?"
Hi Richard, first of all thanks for creating such an amazing good looking calendar.
I have a question maybe too simple but I can not find the correct way to determine what day I'm in.

I've seen the fuction eventsForDate is called several times, also I see that I can monitor func dayView(dayView: DayView, willMoveTo date: Date)... but is there a property o methode to determine what day the view is

[2017-12-13 03:12] eoy4 opened #120 "When calling DayViewState.move(to:) calendar sometimes skips a week"
What the title says. It sometimes works as expected, others it would scroll briefly to the desired date, and then fast forward one week. I'm just calling dayView.state?.move(to: someDate).

[2017-12-21 11:52] IronMaltes opened #121 "How to translate UIGestureRecognizer.location to a timeline hour?"
Hi Richard, hope your doing well

Is there any way to implement something that can translate the position or location of the eventViewDidLongPress in @objc func longPress() (in EventView.swift) into a timeline hour? in such a way the dragging of an event could be implemented.

Thanks

[2017-12-24 01:56] grosch opened #122 "View for notification"
This looks like an awesome library.  Is there a way to customize the view so it just shows the time around a specific timeframe?   I'd like to use this in a custom UI for a rich push notification but obviously I don't want to show the whole day, just a couple hours before and after the event that's pushed to the user.

[2017-12-24 18:02] thederekkaplan opened #123 "Timeline not scrolling properly"
I am creating a custom header as part of my view controller, so I have removed the header from the day view I have in my view controller. However, when I scroll to the bottom of the timeline, it will not let me scroll past 9 PM.

<img width="598" alt="screen shot 2017-12-24 at 11 00 23 am" src="https://user-images.githubusercontent.com/34196535/34328310-b0576b9e-e899-11e7-86f6-f812cb3593b8.png">

[2017-12-25 10:29] richardtop commented on #115
Alternatively, you could use `isHidden` property of the _UIView_ to achieve the same result.

[2017-12-25 10:29] #115 closed

[2017-12-25 10:30] #117 closed

[2017-12-25 10:31] #112 closed

[2017-12-25 10:38] richardtop commented on #119
Hi @IronMaltes, and thank you, I'm glad that you liked the library.

To get the current date, simply get the `selectedDate` property of _DayViewState_:
[code]

[2017-12-25 10:40] richardtop commented on #118
Hi @Bodgar,
could you please explain, what you're trying to achieve in more details, or add some screenshots/mockups?

[2017-12-25 10:49] richardtop commented on #122
Hi @grosch,

_CalendarKit_ was meant to be a set of separate modules, so you could use it to create your own UI components.

For your task, I'd recommend using just [TimelineView](https://github.com/richardtop/CalendarKit/blob/master/Source/Timeline/TimelineView.swift), it should serve the purpose perfectly.

If you'd like to have a higher-level abstraction over _TimelineView_, you may wrap it int

[2017-12-25 10:53] #104 closed

[2017-12-25 11:00] richardtop commented on #123
Hi @thederekkaplan,

In order to better understand this issue, I'd like to ask, how are you adding a custom header to the _DayView_?

Would be good, if you could provide some code snippet, so I will be able to reproduce and investigate this issue.

[2017-12-25 18:37] grosch commented on #122
Thanks, @richardtop.  Could you give a bit more of a specific example please?  I'm looking at TimeLineView and none of the stuff in there is public so I'm not sure how to use this by itself.

[2017-12-25 18:56] grosch opened #124 "Support EventKit"
Feature request:  Please support EKEvent from EventKit.

[2017-12-25 18:57] IronMaltes commented on #119
Thanks, so easy, I coudn't find it ;-)

[2017-12-25 22:35] thederekkaplan commented on #123
I am setting `dayView.isHeaderViewVisible = false` for the dayView and using my own views in my view controller.

[2017-12-26 10:32] richardtop commented on #124
A good idea.
For now, you may create your own _EventDescriptor_ and map its properties from _EKEvent_, achieving the same result.

[2017-12-26 12:09] richardtop commented on #122
At first, I recommend you taking a look at the "parent" view, i.e. [TimelinePagerView](https://github.com/richardtop/CalendarKit/blob/master/Source/Timeline/TimelinePagerView.swift). The method important for us is _updateTimeline_:
[code]
The last line shows, how  the information in form of _[EventDescriptor]_ is passed to the _Timeline_.

Also, you'll need to position your view in the parent view

[2017-12-26 15:37] #119 closed

[2017-12-26 18:37] grosch commented on #122
Thanks.  Still not there though.  Everything seems to be internal variables.  I can put a `TimelinePagerView` on my screen and it draws fine.  However, `updateTimeline` wants to use the internal timeline variable to get the internal `date` variable so I can't actually set what the date is that I'm looking at.

[2017-12-26 18:40] grosch commented on #122
Is there any chance you can just provide an example view controller that displays a day view set to a specific date with some events?

[2017-12-26 19:09] richardtop commented on #122
I'll send you an example in a moment

[2017-12-26 20:12] richardtop commented on #122
@grosch I've added example in #126
It looks like this:
![image](https://user-images.githubusercontent.com/8013017/34363936-5cb62c68-ea89-11e7-894a-79963cf46956.png)

You may want to tweak the library to meet specific requirements. Feel free to change it and open a pull request.

[2017-12-26 21:29] grosch commented on #122
Thanks!  Please remember to update the cocoapod as well.  It's still pulling 0.2.1

[2017-12-26 22:31] richardtop commented on #122
Done. Feel free to close this issue, if you don't have other questions related to the Notification view.

[2017-12-26 22:32] grosch commented on #122
Thanks much.  I've almost got this working now.  Might need to make a couple more things public, like is24hClock.  I'll open a new item on what I'm finding though.

[2017-12-26 22:32] #122 closed

[2017-12-26 22:59] grosch opened #127 "Container scrolling too far."
### Issue Description
The scroll view seems to be going too far when I point at 7pm to scroll to.

##### Code I'm using with CalendarKit
[code]

Notice the green background view that's showing through.

![image](https://user-images.githubusercontent.com/315966/34366162-ee95c22a-ea4c-11e7-8484-898ff49f4247.png)

[2017-12-28 19:05] richardtop commented on #127
Currently, CalendarKit does not take "overscroll" possibility into account. You have to implement it either manually, or apply a patch to _TimelineContainer_

[2017-12-28 19:07] richardtop commented on #123
@thederekkaplan could you post a code sample that reproduces this bug? I guess, the root cause of the problem is that the header's height is higher than CK's standard. Therefore, it has to be changed in case of custom header. I need to look in detail, how are you using CK to be able to help.

[2017-12-28 19:08] richardtop commented on #118
Closing this issue, feel free to open a new one if the problem is still relevant.

[2017-12-28 19:08] #118 closed

[2017-12-28 19:11] #110 closed

[2018-01-01 13:20] harshag opened #128 "Crash - When navigating calendar by week in DayHeaderView [Because of year change?]"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
CalendarKit is crashing on new year. The DayHeaderView is not getting set correctly and when

[2018-01-01 18:08] richardtop commented on #128
Thank you for reporting this issue, it was quite obscure. Now it's fixed.

[2018-01-01 18:08] #128 closed

[2018-01-03 15:52] sinisa503 commented on #95
Did you work something on this? I have implemented this feature in my project but I did not put this code here because It's not made for framework but project specific. Maybe I can get involved if you need...

[2018-01-03 15:53] jameswwwebster commented on #95
No, I never did get round to working on this.

From: Siniša Vuković <notifications@github.com>
Reply-To: richardtop/CalendarKit <reply@reply.github.com>
Date: Wednesday, 3 January 2018 at 15:52
To: richardtop/CalendarKit <CalendarKit@noreply.github.com>
Cc: jameswwwebster <james.webster@live.com>, Mention <mention@noreply.github.com>
Subject: Re: [richardtop/CalendarKit] Feature Request: Dot indic

[2018-01-04 11:01] jameswwwebster opened #130 "New Year - Off by one error for the first week."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

At the start of the year, Week 1 appears to show the dates for a year +1 in the future.
e.g

[2018-01-04 16:26] Jonyleeson commented on #130
I also had the same bug (or at least I think it's the same one), what ended up working for me was editing DayHeaderView.swift, line 66, replacing:

[code]

with

[code]

worked for me

[2018-01-04 16:31] richardtop commented on #130
Hi @jameswwwebster and @Jonyleeson,
Please take a look at #128 and #129.
Are you sure, you're using the latest version?

[2018-01-04 20:57] jameswwwebster commented on #130
Oh possibly not! Sorry!

I have updated in my most recent branch, but may have been running an old version of my code

________________________________
From: Richard Topchii <notifications@github.com>
Sent: Thursday, January 4, 2018 4:31:22 PM
To: richardtop/CalendarKit
Cc: jameswwwebster; Mention
Subject: Re: [richardtop/CalendarKit] New Year - Off by one error for the first week. (#130)

Hi @jam

[2018-01-05 09:16] Jonyleeson commented on #130
Welp me neither

[2018-01-05 09:30] richardtop commented on #130
@jameswwwebster , @Jonyleeson could you check which version are you using in your `podfile.lock`?

I'll be able to debug it this weekend.

[2018-01-05 10:08] Jonyleeson commented on #130
Oh no for sure I didn't have the latest version, sorry if I wasn't clear, I was at 0.2.1

[2018-01-05 10:17] richardtop commented on #130
@Jonyleeson then it's a good idea to test, whether CocoaPods fetches the latest version with the `pod update`. There was an issue related to the problem #110

[2018-01-09 17:12] hevatix commented on #120
The same issue :(

[2018-01-10 07:45] sinkync commented on #120
the same issue

[2018-01-10 18:17] richardtop commented on #120
@hevatix, @sinkync I am aware of this issue and will fix it as soon as possible.
If you'd like to debug and fix it manually, you may look for false positive  _Control Loops_ (by setting breakpoints on the interface methods between multiple modules).

[2018-01-10 18:31] hevatix commented on #120
I had already run debug and I think the bug is when TimeLinePagerView Scrollview is trigger when change the date with "moveTo!" I´m not sure how it works but  I just comment the line 147 at TimelinPagerView and it works "moveTo" but the pager scroll to change the date doesn't work anymore

[2018-01-10 19:15] Bodgar opened #131 "Limit the hours?"
How can I limit the hours that appear in the calendar? for example that instead of being from 00:00 to 00:00 it is from 07:00 to 20:00

[2018-01-10 20:19] richardtop commented on #131
A duplicate of #34.
Please, take a look at #126 and #122, maybe that approach will suit your needs.

[2018-01-10 20:19] #131 closed

[2018-01-11 18:03] richardtop commented on #120
@hevatix Thanks for reporting it. Seems, that you've broken one of the control loops.
The idea, that all the state changes should go through _DayViewState_ and there should be no loops - the state should act as a "dispatcher" and pass new state information to the other modules.

[2018-01-17 07:45] SupreetK commented on #55
@richardtop  : Any fix for moving to particular date
ie. current date is 17 jan  want to move to 17 Feb. Please help

[2018-01-17 23:56] richardtop commented on #130
@Jonyleeson, @jameswwwebster do you still have this issue unresolved?
If everything works fine, I'll close it.

[2018-01-18 00:13] richardtop opened #132 "Remove DateTools requirement from EventDataSource"
Currently, `EventDataSource` asks for `Event`s, which have `TimePeriod` property, depending on _DateToolsSwift_.

[2018-01-18 07:16] jameswwwebster commented on #130
I haven’t been specifically looking out for it, but I haven’t seen it since thanks Richard

________________________________
From: Richard Topchii <notifications@github.com>
Sent: Wednesday, January 17, 2018 11:56:12 PM
To: richardtop/CalendarKit
Cc: jameswwwebster; Mention
Subject: Re: [richardtop/CalendarKit] New Year - Off by one error for the first week. (#130)

@Jonyleeson<https://github.com/

[2018-01-18 18:02] richardtop commented on #130
@jameswwwebster OK, closing it for now and consider resolved.

[2018-01-18 18:02] #130 closed

[2018-01-27 13:27] hevatix opened #133 "Crash Release Mode some Iphones"
Please help Me. I don't have idea what is happen! I just turn on the relesea flag to test on production enviroment and in some Iphones like 6s and 8 crash showing this crash:
![image](https://user-images.githubusercontent.com/13125950/35472332-e543df14-0332-11e8-806b-0d0819892081.png)

with this stack trace:
`Crashed: com.apple.main-thread
0  CalendarKit                    0x10305eb44 _T011Calenda

[2018-01-29 00:52] richardtop commented on #133
Hi @hevatix,
could you provide more details on how you're using CalendarKit?
E.g. sample code would be helpful.

[2018-01-29 01:29] hevatix commented on #133
Hi. I use CalendarKit with FirebaseDataBase and everytime the I change the day I reload with new events. Just that. I made some changes to draw a image in the event and draw hour blocks with another color that means unavailable hours. I just put code inside funtions. And all looks like good. Testing and Apple Review were good and I released it. But with my end-users I got that crash.

I have the l

[2018-01-29 01:53] richardtop commented on #133
Could you check if `dateTime` is not nil in this part of the code?
[code]

[2018-01-29 02:10] hevatix commented on #133
Ok. I put
[code]

 But I can't reproduce the crash. Just I simulate with instruments but the device logs show this :
[code]

[2018-01-29 02:17] richardtop commented on #133
What I would recommend you to do is to start with clean version of CalendarKit in your app and then gradually add your code until you get a crash on device and try to localize the bug.

Also, this may not prevent a crash:
[code]

Try unwrapping an optional this way:
[code]

[2018-01-29 02:21] hevatix commented on #133
Ok thank you! I really appreciate your help and support

[2018-01-29 02:41] richardtop commented on #133
@hevatix I'm looking forward to more details as how this progresses.

Not related to this issue, but I'm going to re-write this part of CalendarKit in the future to completely remove this drawing code.

[2018-01-29 02:46] hevatix commented on #133
Thankyou. I hope found the issue. Thankyou for your support. And Is good to know That will be deprecated. But for now I will work with this version.

[2018-01-29 03:10] richardtop opened #134 "Doesn't compile with Xcode 9.3 Beta"
Doesn't compile with Xcode 9.3 Beta

[2018-01-29 03:17] richardtop commented on #134
Related to #132.

[2018-01-30 19:06] #133 closed

[2018-02-05 20:28] #123 closed

[2018-02-07 19:18] #127 closed

[2018-02-08 01:49] grosch commented on #127
Awesome!  @richardtop please remember to update the POD to include these fixes.

[2018-02-08 01:50] grosch commented on #132
I'd second this request to remove those external requirements.

[2018-02-08 07:41] richardtop commented on #127
@grosch I'll update pod soon, but if you want to receive all the newest changes, you can add link to this repository in the podfile.

[2018-02-18 23:48] richardtop opened #137 "Use Fastlane for CocoaPods deployment"
Use Fastlane for CocoaPods deployment

[2018-02-21 03:19] grosch commented on #127
@richardtop ETA on when you'll fix the POD?

[2018-02-21 03:51] grosch opened #138 "Rename to CCEvent"
`Event` is a pretty generic name for a library to provide.  Can we rename this class to something like `CKEvent` instead?

[2018-02-21 07:37] richardtop commented on #138
@grosch you should be able to access it via `CalendarKit.Event` in case there is a conflict with another library.

[2018-02-21 16:58] richardtop commented on #138
I've created another `Event` class. The class included in CalendarKit is still accessible via 'CalendarKit.Event' without conflict.

Here is the source of `ExampleController` with custom `Event` class:
<Details>

[code]

</Details>

[2018-02-21 17:03] grosch commented on #138
Yes, I understand that I can do that, but I'm saying just calling your class `Event` is not a great idea, IMHO.

[2018-02-21 17:41] richardtop commented on #138
Class prefixes is a thing of the past, and clearly violates established style guidelines. [1] [2]
Still agree, `Event` is used widely. So do `Float`, `Int`, `Node` and many other data structures.
[1. The Official raywenderlich.com Swift Style Guide](https://github.com/raywenderlich/swift-style-guide#class-prefixes)
[2. Swift API Design Guidelines](https://swift.org/documentation/api-design-guideli

[2018-02-21 17:41] #138 closed

[2018-02-21 19:51] richardtop commented on #55
@SupreetK this is implemented.
Move to date & scroll to particular time is not.

[2018-02-21 19:51] #132 closed

[2018-02-21 20:34] richardtop opened #140 "Add protocol to support any date manipulation library under the hood"

[2018-02-21 20:35] richardtop opened #141 "Add support for custom layout behavior"
Similar to `UICollectionViewLayout`.
For example:
- Behavior to choose which events show as `AllDayTasks`.

I.e. whether to put `AllDayTasks` based on the time, or based on the flag `isAllDay`

[2018-02-25 03:41] WingCH opened #142 "Toolbar will background color change to Gray"
### New Issue Checklist

- [0.3.0] Use the latest version of CalendarKit
- [Y] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [Y] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Toolbar will background  color change to Gray

![img_9396](https://user-images.githubuse

[2018-02-25 11:08] richardtop commented on #142
Hi, @WingCH, could you please share your code for this screen, so I could reproduce it in my environment?

[2018-02-26 07:03] WingCH commented on #142
<img width="1006" alt="2018-02-26 at 2 57 pm" src="https://user-images.githubusercontent.com/19588517/36657027-d8a17a24-1b05-11e8-93ca-f6ea59044c60.png">

[RoomDetailViewController.swift.zip](https://github.com/richardtop/CalendarKit/files/1757528/RoomDetailViewController.swift.zip)

[2018-02-26 19:40] richardtop commented on #142
Unfortunately, I can't reproduce the issue using that file.
Please, create a new project, install `CalendarKit` and do the minimal number of tweaks and adjustments needed to showcase this issue.

Alternatively, you could set the [translucent](https://developer.apple.com/documentation/uikit/uitabbar/1623458-translucent) property of the `UITabBar` to _false_ and the issue should be resolved.

[code]

[2018-03-11 12:51] #92 closed

[2018-03-11 12:53] #108 closed

[2018-03-11 12:54] #106 closed

[2018-03-11 12:54] #142 closed

[2018-03-11 12:56] richardtop commented on #101
The API no longer requires its clients to provide `datePeriod`. Only two properties are needed: `startDate` and `endDate`.

[2018-03-11 12:56] #101 closed

[2018-03-11 13:09] richardtop commented on #114
[Relevant StackOverflow discussion](https://stackoverflow.com/questions/47495195/calendarkit-issue-with-the-date-scroll-bar-swift/47605452#47605452)

[2018-03-30 11:41] richardtop opened #143 "Add support for Travel time, similar to Apple Calendar UI"
Add support for Travel time, similar to Apple Calendar UI

[2018-04-01 01:49] richardtop commented on #121
Hi @IronMaltes,
sorry for late answer.
Currently there is no support for event dragging, however, it would be a great feature for the library.

[2018-04-04 15:53] richardtop opened #144 "Update to Swift 4.1"

[2018-04-04 16:25] #144 closed

[2018-04-04 16:25] #134 closed

[2018-04-04 18:41] richardtop commented on #120
Should be fixed in #145

[2018-04-05 18:59] LinnierGames commented on #18
Hola @richardtop I noticed this, and other issues, is still open.

I just began using this **amazingly** easy to use tool and would love to implement this perhaps myself. Any tips on what classes to look? I would say I've been using swift enough to say I'm at an intermediate level :3

[2018-04-05 22:26] richardtop commented on #18
Hi Erik, it sounds good.

Here is a quick overview on how to implement this feature. I need it too, so your pull request is welcomed!

1. Add an `isAllDay` property to the `EventDescriptor` protocol and `Event`
2. In `TimelineView` in `recalculateEventLayout` split events into 2 categories: `allDay` and the rest. Handle `The rest` the usual way
3. For the `AllDay` events configure a separate view

[2018-04-08 01:30] daveleenew commented on #72
hope drag support  thanks

[2018-04-09 09:33] daveleenew opened #146 "take too many ram..."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2018-04-09 09:35] #146 closed

[2018-04-09 10:07] richardtop commented on #146
@daveleenew does it? Could you show the memory utilization?

[2018-04-09 12:15] daveleenew opened #147 "Memory usage is too high. How to fix it?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
 Memory usage is too high. How to fix it?

I run the demo project. The moeny usage over to 1

[2018-04-09 14:38] daveleenew commented on #147
Okay thanks for your answer.

as you say "A quick way to reduce the memory footprint is to flatten the view hierearchy"

how i do this ? show me the code??? thanks ..hahah

[2018-04-09 19:32] richardtop commented on #147
_A quick way to reduce the memory footprint is to flatten the view hierearchy_ means that the less views you have in _CalendarKit_, the better the memory footprint.

Currently, there are 2 points to attack:
1. CalendarKit uses 3 full pages to display a single calendar (current page, left and right). This could be reduced to 2 pages at most, taking about 30% of memory. (Might consider UIPageViewCon

[2018-04-10 00:52] daveleenew commented on #147
Oh.I see . I try to modify display three pages to one page.But they're not the easiest tasks. HaHa.

anyway.thank you

[2018-04-10 16:40] richardtop commented on #147
@daveleenew  Is it really an issue? Does your app crashes due to high memory consumption or receives memory warnings?

[2018-04-11 08:36] djxmax opened #148 "Calendar by week"
Hello, your library is really amazing. It's almost all i want for my app. 👍
But I have a question (I search in issue but I haven't find the answer) : calendar is day by day, is there a solution to make it week by week ? Something like that :
<img width="372" alt="capture d ecran 2018-04-11 a 10 25 58" src="https://user-images.githubusercontent.com/7045905/38605525-db9457ca-3d73-11e8-9332-759a01343

[2018-04-17 03:08] codedining opened #149 "I want to display the calendar in a custom view(subView)"
Thanks for sharing the CalendarKit

I want to display the calendar in a custom view(subView)

How to set it?

![2018-04-17 12 02 31](https://user-images.githubusercontent.com/38448630/38846497-9f931c8e-4237-11e8-82ec-ae81cb7ae043.png)

[2018-04-17 15:37] LinnierGames commented on #18
This is great!! Deeply sorry for the late response, I’m enrolled in a two year boot camp in sf and our “open house”/“reversed job fair” is VERY soon

But! I’ll be tackling this very soon!

[2018-04-17 18:36] brandonWARKNAT commented on #149
As defined in class **DayViewController**, **loadView**() method is setting the controller view as dayView

[code]

And then inside **DayView** class **configure**() method is adding the header and the pager itself, so DayViewController is overriding any view you design.

[code]

I think there could be two posible ways to solve your problem. The first is programmatically add your first view and ad

[2018-04-18 17:05] richardtop commented on #149
Hi @codedining, @brandonWARKNAT,

Both options are good.

I recommend not using `DayViewController` and adding `DayView` programmatically.

Alternatively, you can add `DayViewController` as a `ChildViewController`, i.e. using `ContainerView`.

[2018-04-29 09:41] IsmailAhmedIsmail opened #150 "Calendar Doesn't show events equal or later than current time."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
I'm creating a timetable for school classes. I've added all the events related to the school

[2018-04-29 10:03] #150 closed

[2018-04-29 12:09] IsmailAhmedIsmail commented on #150
My bad, it turns out end time is not calculated correctly, but it brings another question, what does the calendar do if the end date is before the start date?

[2018-04-29 22:11] grosch opened #151 "Current version won't build"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

Unable to compile my project after adding your pod.  I'm getting errors from DateToolsSwift

[2018-04-30 08:47] richardtop commented on #151
Hi @grosch,
could you post the contents of your `Podfile.lock` here, please?

[2018-04-30 17:35] phaninderkumar opened #152 "'datePeriod' is inaccessible due to 'internal' protection level"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Not able to build my project due to the error **'datePeriod' is inaccessible due to 'interna

[2018-04-30 21:28] richardtop commented on #152
Hi @phaninderkumar,

The latest version of the CalendarKit doesn't require `datePeriod`.
Instead, you need to specify the start and the end dates.

For example:
[code]

You can read more in [Readme](https://github.com/richardtop/CalendarKit#usage)

[2018-05-02 15:29] grosch commented on #151
I had to force CocoaPods itself to update as it wasn't getting your newest version.

[2018-05-02 15:29] #151 closed

[2018-05-02 15:34] grosch opened #153 "TimelineView events"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

In previous conversations you helped me use the TimelineView for a push notification UI by

[2018-05-02 15:43] richardtop commented on #151
@grosch Could you please specify, how you achieved it?

[2018-05-02 16:13] grosch commented on #151
Running a 'pod install' even with the entire Pods directory gone wasn't doing anything so I ran a 'pod outdated' and that forced it to update my local repository and then a 'pod update' fixed it.

[2018-05-02 16:14] grosch commented on #152
@richardtop Thank you for making this change.  So much nicer!

[2018-05-02 16:15] richardtop commented on #153
Please take a look at the code in  [TimelinePagerView](https://github.com/richardtop/CalendarKit/blob/master/Source/Timeline/TimelinePagerView.swift#L109) and configure your `timeline` accordingly.

You'll need to pass instances of layout attributes instead of events.

[2018-05-02 16:17] richardtop commented on #151
`pod update` should suffice most of the time.

I regularly push new updates to the library, so it's always good to be on the latest version.

[2018-05-06 06:37] phaninderkumar commented on #152
Thanks @richardtop.

[2018-05-10 07:03] SachinTanpure opened #155 "MultiDay event Issue"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
@richardtop First of all thanks for such great library. Currently i am facing one issue rega

[2018-05-10 09:42] richardtop commented on #155
Hi, @SachinTanpure, thank you for your report. It's clearly a bug.

[2018-05-10 09:47] richardtop commented on #152
@phaninderkumar I'm closing this issue, as I guess it has been resolved.
Feel free to reopen, if you have some more questions.

[2018-05-10 09:47] #152 closed

[2018-05-10 09:49] richardtop commented on #105
@SachinTanpure did you call `dayView.state.move(to: #SPECIFIC_DATE)` before or after the `dataSource` has been set?

This method should be called with the `dataSource` attached, so the _CalendarKit_ can fetch new events.

If the bug remains, please, open a new issue with sample code to reproduce it.

[2018-05-10 09:59] richardtop commented on #153
@grosch here is an example from the sample code:
[code]

More in [ExampleNotificationController](https://github.com/richardtop/CalendarKit/blob/master/CalendarKitDemo/CalendarKitDemo/ExampleNotificationController.swift)

Closing this issue, as it should be resolved by now. Feel free to reopen, if you have any more questions.

[2018-05-10 09:59] #153 closed

[2018-05-10 11:03] richardtop commented on #155
@SachinTanpure thank you!
As far, as I can tell, the delegate method gets called 3 times (as there are 3 pages in the CalendarKit view). All of them are "correct" since they are valid on a given day.

That's definitely a bug in the CalendarKit, as the events should be filtered out correctly.

To temporarily fix it at the app level, try to return multi-day event only once, while there are no fix fo

[2018-05-11 09:49] SachinTanpure commented on #155
Okay @richardtop
I hope this issue is going to be resolve soon.
Thank you!

[2018-05-11 18:52] ghost opened #156 "Support for other Apple Platforms"
Add support for tvOS, macOS and maybe watchOS.

[2018-05-20 05:15] grosch commented on #153
I'm sorry this has taken me so long to respond.  I've been horribly sick for a while and I'm finally getting back to things.   I put a TimelineView into the storyboard element for the notification and constrained it to the superview.  When the notification appears I see the window with nothing it it, but the view is the color of superview.  It's like the TimelineView is getting lost entirely and n

[2018-05-20 05:47] grosch commented on #153
OK, it just really doesn't like coming from the storyboard.  I moved it back into code and implemented a slightly different viewDidLayoutSubviews and now it seems to be working great.  Thanks!

[2018-05-20 07:54] zungx commented on #120
Still same issues

[2018-05-20 08:07] zungx opened #157 "Change first day start of week"
Thanks for sharing the CalendarKit
I don't want use default first day start. I want set monday start of week.
Thank you.

[2018-05-20 16:25] eoy4 commented on #120
Same here :( Can you reopen this one?

[2018-05-29 22:26] richardtop commented on #153
Hi @grosch, the CalendarKit _should_ support Storyboards and Interface Builder, but has never been tested with it.

It's recommended that you configure the calendar with code.

Could you please share the implementation of your `layoutSubviews` method here?

[2018-05-30 06:56] grosch commented on #153
[code]

[2018-05-30 22:14] richardtop commented on #153
@grosch looks good.

Alternatively, you may connect the view in `loadView` method to skip layout calculation at all.

[2018-05-30 22:16] richardtop commented on #157
Hi, @zungx currently CalendarKit takes the 1st day of the week form the user's default calendar settings. Would you like to override this behavior?

[2018-05-30 23:47] zungx commented on #157
Hi @richardtop
I know CalendarKit use user's default calendar settings, but i want fixed day start always is Monday.
I try add extension to change firstweekday
`extension Calendar {
    var firstWeekday: Int { return 2 }
}
`
Everything ok. but have bug.
when i scroll from Monday to Sunday not reload date cell data. I scroll from 28/05/2018 to 27/05/2018.
See on video https://drive.google.com/file/

[2018-05-31 09:12] richardtop commented on #157
This behavior is not supported currently. I'll mark it as an enchancement.

[2018-06-04 22:56] richardtop opened #158 "Add support for decoupling the DataSource from the DayViewController"
Current approach does not give enough flexibility for large-scale projects.

[2018-06-07 22:18] richardtop opened #159 "iPad Pro: add fix bouncing behavior & make Timeline scale larger"
iPad Pro: add fix bouncing behavior

![simulator screen shot - ipad pro 12 9-inch 2nd generation - 2018-06-08 at 01 17 52](https://user-images.githubusercontent.com/8013017/41129245-d47e4eb4-6ab9-11e8-881e-550ab018e1c1.png)

[2018-06-08 02:19] QuestCode opened #160 "Adding a subview to project"
I'm trying to add a button to the of the scrollview of the calendar but the button doesn't appear. Any options?

[2018-06-08 07:42] mn288 opened #161 "RTL support"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

I am trying to have RTL Support( Scrolling Right to Left) for CalendarKit in my app. Is it supported?

[2018-06-08 18:29] #160 closed

[2018-06-09 17:47] #18 closed

[2018-06-09 17:53] richardtop commented on #161
Hi @mn288, currently I have no evidence, whether CK supports RTL languages.

Feel free to test it out and submit a pull request if you wish to add such a feature.

[2018-06-09 17:54] richardtop commented on #149
Closing due to inactivity.

[2018-06-09 17:54] #149 closed

[2018-06-10 02:25] baranpirincal opened #162 "Logo Design: CalendarKit"
Hello!

I can design a logo for CalendarKit. If you interested I can show my portfolio on e-mail.  What do you think about it?

Best Regards
Baran Pirinçal
Graphic Designer

[2018-06-25 10:34] #162 closed

[2018-07-13 19:52] tarangpatel commented on #155
@richardtop Does this Calendar support recurrences of event like RRule ?

[2018-07-19 09:37] zaehk opened #163 "Add icon to specific event in dayview."
- [X] Use the latest version of CalendarKit
- [X] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [X] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

Hi, first of all i would like to congratulate you for the amazing job you have done with this library. I've been using it for a couple of m

[2018-07-21 02:50] fatenumber25 opened #164 "Question: Current time line show on incorrect position!!"
First thanks very much for so useful Library.

I’m working on customizing CalendarKit. And when i’m changed default timezone of application to GMT using
NSTimeZone* GMT = [NSTimeZone timeZoneWithAbbreviation:@"GMT"];
[NSTimeZone setDefaultTimeZone:GMT];

The today current time line shown on incorrect position as bellow.
![6283c0db-10e5-4817-be73-e5f95efead9e](https://user-images.githubusercontent.

[2018-07-22 17:36] stanchiang commented on #156
+1 on macOS support

[2018-07-22 21:40] richardtop commented on #164
@fatenumber25 this feature is not supported.
I'm planning to fix the bug this week. Thank you for the report.

[2018-07-22 21:42] richardtop commented on #163
Hi, @zaehk, thank you for your comments.
Have you looked into using `attributedText` property?
Otherwise, you'll have to introduce a custom view. Unfortunately, now custom views are not supported, so for now you'll have to fork the library, if you can't achieve the effect you want with the `attributedText`.

[2018-07-22 23:05] fatenumber25 commented on #164
@richardtop Thanks for your reply :)
Happy to wait your update!!

[2018-07-23 21:51] richardtop commented on #164
@fatenumber25 could you please check whether the bug has been fixed in the master branch of this repository?

For integration assistance refer to ["How to install a pod from a specific branch?
"](https://stackoverflow.com/questions/39930664/how-to-install-a-pod-from-a-specific-branch)

[2018-07-23 22:02] richardtop commented on #155
@tarangpatel No, it is an UI-only component. Any additional logic should be implemented in a custom module providing data to the calendar.

[2018-07-24 05:45] #164 closed

[2018-08-07 01:04] fatenumber25 commented on #147
I try to modify display three pages to one page too, and my last solution is here.

override func eventsForDate(_ date: Date) -> [EventDescriptor] {
        if let selectedDate = dayView.state?.selectedDate, selectedDate != date {
            return []
        }

       ......
       return events;
}

override func dayView(dayView: DayView, didMoveTo date: Date) {
       self.reloadData()
}

[2018-08-20 16:11] eoy4 commented on #120
@richardtop I would love to help fix this issue, now that I am more proficient with Swift. Can you point me in the direction of what I have to look for?

[2018-08-28 14:04] jdtzmn commented on #93
@richardtop Any updates?

[2018-09-01 20:35] #93 closed

[2018-09-09 05:45] mahanthesh0r opened #168 "Multiple EventViews get's created"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
When ever i try to create a event there'll be multiple events that is getting created for th

[2018-09-11 02:28] jdtzmn commented on #147
@richardtop I haven't seen anything so far as crashes or memory warnings, but I know that in my implementation, scrolling up and down throughout the day is less responsive than I'd like (try comparing the apple calendar to the CalendarKit demo).

[2018-09-11 09:56] mahanthesh0r commented on #168
Can you please give me an example ?

[2018-09-14 02:40] richardtop opened #170 "Remove Neon library dependency"

[2018-09-14 18:12] johnnyperdomo opened #171 "You Should set up Patreon to support donations"
### Your project is great, have you ever considered setting up a [patreon](https://www.patreon.com/) to accept donations. To help maintain your code.
#### Even Programmers Have to Eat

![](https://media.giphy.com/media/TrDxCdtmdluP6/giphy.gif)

[www.patreon.com](https://www.patreon.com/)

[2018-09-14 18:55] richardtop commented on #171
Hi, thanks, I'll consider it.

[2018-09-14 18:55] #171 closed

[2018-09-14 19:28] #105 closed

[2018-09-14 20:32] eoy4 commented on #120
@richardtop this stopped happening to me in latest release. YAY! If others confirm, I think this is fixed.

[2018-09-16 11:44] alibahadori commented on #98
First of all, thank you for the such great library.
How can I turn the calendar into Persian?

[2018-09-16 15:15] richardtop commented on #98
Hi @alibahadori, it's not supported currently.

[2018-09-17 03:29] johnnyperdomo commented on #168
@mahanthesh0r I think the issue you're having is because of a for loop which creates multiple events. Is there a ***for loop*** in your code?
[code]
**If so...remove the *for loop* and change it to the code below**
[code]
this should fix the issue, and only give you one event

[2018-09-17 05:03] richardtop commented on #168
@johnnyperdomo, @mahanthesh0r or this;
[code]

[2018-09-17 18:50] mahanthesh0r commented on #168
@richardtop You were right. It was a dumb mistake.. It works now!! Thank You

[2018-09-17 19:56] #168 closed

[2018-09-18 22:56] johnnyperdomo opened #172 "Calendarkit cant build in xcode 10 - Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2"
### Issue Description

##### Code I'm using with CalendarKit
[code]
When trying to import modules in xcode 10 i get this message:

**"Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler:"**

[2018-09-19 09:30] Terekness opened #173 "Expanding day view in specific hour intervals"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

I'd like to start with saying that this library is awesome to work with, so thank you very

[2018-09-19 10:31] NithiTM opened #174 "how to set calendar start date and end date"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2018-09-19 16:29] richardtop commented on #174
Duplicate of #54

[2018-09-19 16:29] #174 closed

[2018-09-20 13:54] johnnyperdomo opened #175 "Get Event Frame"
Hey, is there any way to get to get the frame coordinates:**(x position, y position, height, width)** from an event that i created on the timelineView.

#### Result I am trying to achieve
I want to add my own custom view on top of my event in the exact position to simulate an event view, because the event view isn't that customizable. I want to add buttons and add uilabels to the custom view, as w

[2018-09-21 03:11] richardtop commented on #175
Hi @johnnyperdomo,
Could you please share the result you're trying to achieve? You can mock it with Sketch/Photoshop or any other graphic editing software.

We could rephrase the question and consider it "CK doesn't support custom views as as the `EventView`".

[2018-09-21 07:27] Terekness commented on #173
Another idea that popped up was also just using the pinch gesture to increase or decrease the verticalDiff, as in to simulate zooming in.

[2018-09-21 18:30] richardtop commented on #175
@johnnyperdomo could you put these screenshot in context? I.e. how they would look on a timeline?

[2018-09-21 23:28] johnnyperdomo commented on #175
<img width="441" alt="screen shot 2018-09-21 at 7 26 51 pm" src="https://user-images.githubusercontent.com/20377240/45910082-574a3e80-bdd4-11e8-94a0-8011944d4399.png">

this, instead of colored event view. let's me build and customize how i want; just adding a simple uiview to event should allow this. i Just don't know how 😔

[2018-09-22 01:19] richardtop commented on #175
@johnnyperdomo if you look inside e.g. `Timeline`, you'll notice the code to support a custom `UIView` subclass, but there is no interface to connect a custom view to the rest of the library.

[2018-09-22 20:44] johnnyperdomo commented on #175
1)What do you mean by, “there is no interface to connect a custom view to the rest of library?”

2) is there a way to get position of event frame?

[2018-09-24 04:14] richardtop commented on #175
1. It's impossible now to register a custom view to be used as the `EventView`, similarly to how the `UITableView` or `UICollectionView` supports custom views.
2. No, currently the layout process is hidden inside the CalendarKit (`TimelineView`)

[2018-09-24 06:15] richardtop commented on #172
More info needed to reproduce the issue. Works perfectly with my Xcode 10 Release.

[2018-09-26 13:00] sima94 commented on #172
@johnnyperdomo Try to delete xCode derivedData

[2018-09-27 02:57] johnnyperdomo commented on #172
it works now, just needed to clean and build the project files.

[2018-09-27 07:12] #172 closed

[2018-10-10 13:22] Srinivasan27 opened #177 "Always calling override func eventsForDate(_ date: Date) -> [EventDescriptor]"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2018-10-10 17:33] richardtop commented on #177
That's correct.

[2018-10-10 17:33] #177 closed

[2018-10-11 08:29] richardtop commented on #177
You shouldn't. That's expected behavior. You override that method and populate your own events. The default implementation just returns an empty array.

[2018-10-15 09:01] iOSDev-Madurai opened #178 "Between Dates Selection issue"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

Hi @richardtop ,
I have found some issue it may be already known by you but I need a work a

[2018-10-15 13:40] Srinivasan27 commented on #177
Thanks mate. I fixed though

[2018-10-22 14:58] dotWasim commented on #175
@johnnyperdomo Hi there, did you manage to customize event view?

[2018-10-22 15:38] johnnyperdomo commented on #175
@dotWasim I actually haven't worked on it. You can give it a shot if you'd like.

[2018-10-22 15:39] dotWasim commented on #175
ok, I will implement it and send pull request. @richardtop  any suggestions or notes ?

[2018-10-31 19:28] qasimsqm opened #179 "How to know if user tap on time where event is not added?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit

### Issue Description

##### Code I'm using with CalendarKit latest version

I need to let user add new events where events are not already added

[2018-11-01 13:15] richardtop commented on #179
Use this method of `DayViewDelegate`:
[code]

[2018-11-02 22:09] danielVebman commented on #54
Has this been implemented yet? If not, is there sometime we can expect it to be ready, and is there any workaround? I specifically have a `DayView` in a horizontal `UICollectionView`, so the superfluous swiping between days is interfering with the `UICollectionView`.

[2018-11-03 13:08] danielVebman commented on #54
If I embed a `Timeline` in a `TimelineContainer`, how can I set the timeline's data or frame? This doesn't seem to work:

    timelineView = TimelineView()
    timelineView?.frame = bounds
    timelineContainer = TimelineContainer(timelineView!)
    timelineContainer?.frame = bounds
    timelineContainer?.scrollToFirstEvent()
    // set dataSource or directly assign Events??
    addSubview(timelin

[2018-11-03 23:12] richardtop commented on #54
@danielVebman could you post a mockup of the result you're trying to achieve?

[2018-11-04 00:44] danielVebman commented on #54
I am trying to get it to look like this:

That panel with the drawing on it is where I want the timeline view for only the current day.

[2018-11-04 01:04] danielVebman commented on #54
@richardtop, I’m trying to get it to look like this, where that drawn part is the timeline view showing the events for just the current day:

https://drive.google.com/file/d/1SpS9wb7kARwrUlld7VLIEuXlthks3luY/view?usp=drivesdk

[2018-11-04 13:17] richardtop commented on #54
@danielVebman then you'll absolutely need to re-create your own Calendar from available elements. Take a look at how "DayView" manages its child views and configures events taken from the DataSource.

[2018-11-04 19:15] danielVebman commented on #54
@richardtop, ok I got it working perfectly except for one thing: on the iPhone X/XS/XS max, I can't get rid of the inset at the bottom of the `TimelineContainer`. I tried going into `TimelineContainer`'s `layoutSubviews` and changed it to this:

[code]

However, that has no effect. I searched through the framework, and there is no other place besides the above function where `contentInset` appears

[2018-11-05 01:05] richardtop commented on #54
@danielVebman please, post both the results working correctly and incorrectly.

[2018-11-05 02:32] danielVebman commented on #54
Here are two angles. Let me know if you prefer a different one:

<img width="739" alt="screen shot 2018-11-04 at 9 31 28 pm" src="https://user-images.githubusercontent.com/23707637/47974776-199a3000-e079-11e8-8eb1-aef3a33e8c51.png">
<img width="311" alt="screen shot 2018-11-04 at 9 31 53 pm" src="https://user-images.githubusercontent.com/23707637/47974779-1b63f380-e079-11e8-937b-ff033df03300.png">

[2018-11-05 03:08] danielVebman commented on #54
Wow, that actually did it. In retrospect command-K is always a good thing to try. Thanks for your help!

[2018-11-05 03:14] richardtop commented on #54
@danielVebman that's the common cause when working with CocoaPods. I recommend you create your custom subclass of TimelineContainer and override `layoutSubviews` method to the one you need.

I see your app using CK in the way I envisioned - to build your own custom calendar UI based on these components. I'd like to try it when it's ready / in beta.

[2018-11-05 03:36] richardtop commented on #54
@danielVebman send me an invite on LinkedIn or an email. Both are listed on my Github page.

[2018-11-06 10:21] #179 closed

[2018-11-10 09:50] Srinivasan27 commented on #177
Hi there! I'm facing problem that events not generated after the successful call on API from server.
How to sync event call and API data model?

[2018-11-14 12:13] qasimsqm commented on #179
Yes I got that but what if I want to get single tap?

[2018-11-14 12:19] qasimsqm commented on #28
Can I disable left Right swipes?

[2018-11-14 12:34] qasimsqm opened #180 "How to disable left right swipe of timeline?"
Hi can anyone tell me how can I disable left and right swipes in timeline?

[2018-11-14 12:59] richardtop commented on #179
There is no way to do it.
You could add this functionality and submit a pull request, or just subclass DayView and add a tap gesture recognizer.

[2018-11-14 13:00] richardtop commented on #28
You'll need to create your own `DayView` from the CalendarKit components to achieve that functionality.

[2018-11-14 13:00] richardtop commented on #180
You'll need to create your own `DayView` from the CalendarKit components to achieve that functionality.

[2018-11-14 16:10] qasimsqm commented on #180
Thanks but What are the attributes to disable?

[2018-11-14 22:43] richardtop commented on #180
@qasimsqm there are two options you can try:
1. disable scrolling in all PagingViews and hide header
2. Re-create DayView from other components (i.e. just use the timeline, add it to subview, introduce delegate methods etc, except this new `NonScrollableDayView` would not be scrollable ;) )

But first, I'd like to hear more details about the result you're trying to achieve:
Should the calendar sho

[2018-11-17 05:31] dmaulikr opened #181 "How to disable Overlapping Events?"
Hello,
I'm developing an App where I don't want to allow events to be overlapped on each other and in simple word I want to prevent user from adding events which overlaps on each other.

suppose if one event is there for 4pm to 6pm and if I try to add new one from 3pm to 6pm which means it will overlap on previous one I want to prevent that overlapping.

How can I achieve this?

[2018-11-17 19:55] richardtop commented on #181
Hi, its a logic issue, not the UI. Simply disable adding event if it overlaps with the previous one. Or would you like to add some UI features to signal the possibility of adding a new event to some place?

Would be fantastic if you could put some UI mockups of what you'd like to achieve.

[2018-11-17 22:04] raguiar2 opened #182 "Moving to date in viewDidLoad causes date to skip"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
I want to call move(to:) in viewDidLoad so I can load the DayViewController on a certian dat

[2018-11-18 19:15] richardtop commented on #182
A few suggestions:
1. Try executing this logic in `viewWillAppear`
2. Try `custom-calendar` branch and see if the issue still persists.

[2018-11-18 19:41] richardtop commented on #182
@raguiar2 thanks for the report, its definitely a bug and I'll get back to it.

[2018-11-20 07:31] dmaulikr commented on #181
hello i've another question is there any update about #58

[2018-11-20 11:53] richardtop commented on #181
@dmaulikr no, there is no update on that issue.

[2018-11-20 12:49] qasimsqm commented on #180
Thanks for reply Rechard. I want to navigate on different pages by tapping on date only not by swiping.

[2018-11-20 13:19] richardtop commented on #180
Then its all the way to go to designing and creating your custom `TimelinePagerView` and using it in your new `DayView`

[2018-12-03 16:19] eoy4 opened #184 "commit `625bf82` causes compile error"
### New Issue Checklist

- [x ] Use the latest version of CalendarKit
- [x ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

In commit 625bf82 in `TimelineView.sift` the following lines break compiling in latest S

[2018-12-11 09:53] prafulargiddi commented on #182
i have facing same problem please try to solve it.

[2018-12-11 11:10] prafulargiddi commented on #182
Hi are you get the solution for the same?

[2018-12-20 14:13] seanassis opened #185 "issue with navigation"
### New Issue Checklist

-  Use the latest version of CalendarKit
-  I've read the [Contribution Guidelines]
-  I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

hi guys,
Excuse me for my beginner issue, I try to implement the CalendarKit and everything look right except the navigation bar in the top.
I attach a pic from the simulator
![screen shot 2018-

[2019-01-03 10:48] richardtop commented on #184
Actually, the current version is correct, since it targets _Swift 4.2_.
`'bringSubview(toFront:)' has been renamed to 'bringSubviewToFront(_:)'`, so in order to use the CalendarKit with the _Swift 4_, you'll need to install the release [0.4.3](https://github.com/richardtop/CalendarKit/releases/tag/0.4.3). But I recommend updating your whole project to Swift 4.2 and using the latest version of the

[2019-01-03 10:49] richardtop commented on #185
Hi, please attach the code you used for setting up this screen.

[2019-01-07 00:51] martinmaly21 opened #187 "Disable Full Screen Calendar"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hello,

This may be more of a question rather than an issue. However I feel as though it may

[2019-01-07 01:59] martinmaly21 commented on #187
Also, is there any way in which to add a button ontop of the calender? (for example the circular button located in the bottom right of the screen of my mockup) Because currently they do not show up when I place them in the storyboard. (I have tried bringing subviews to front).

[2019-01-07 02:15] martinmaly21 commented on #187
Also, how do I access the width of the calendar. Calling 'dayView.bounds.width' or 'dayView.frame.width' does not appear to work.

[2019-01-07 10:31] sanathterli opened #188 "How to achieve this using Calendar kit"
![device-2019-01-07-154416](https://user-images.githubusercontent.com/27924116/50763282-59f27600-1295-11e9-9d62-6c276d80f3f0.png)

[2019-01-08 04:40] martinmaly21 opened #189 "Calendar View Controller has different tab bar background colour than other tabs."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hello,

I have noticed that when I subclass the 'DayViewController' and then try to use this

[2019-01-08 20:12] martinmaly21 commented on #189
To anyone have this same issue, I have found that unchecking 'Translucent' in the storyboard resolves this issue.

<img width="260" alt="screen shot 2019-01-08 at 3 11 18 pm" src="https://user-images.githubusercontent.com/40171261/50856112-c9c93500-1357-11e9-8c84-e8c40eb22fc3.png">

[2019-01-11 13:22] richardtop commented on #188
More details needed

[2019-01-11 13:23] #189 closed

[2019-01-12 13:11] Amelia1992 opened #191 "timezone"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-01-12 14:34] #191 closed

[2019-01-12 21:51] omerbaskurt opened #192 "Set corner radius of an event"
Hey @richardtop, thanks for this amazing library. I was wondering if there is any way to set a corner radius of an event without editing the library?

[2019-01-12 22:53] richardtop commented on #192
Hi,
currently it's impossible.
Subclass `EventView` and implement custom `layoutSubviews` method.

[2019-01-28 04:59] sanathterli commented on #188
How to create a view above the calendar(Like shown above...selfAppointments/seekerApt.) ? with a button action ?

[2019-01-31 05:51] Amelia1992 opened #193 "How to increase space between times in timeline?"
Hi @richardtop, Thank you for this library.
When a event duration is 15 minute, don't show my title of event and have a low Height. I need to increase space of time in timeline to show bigger event in calendar, but I don't know how to increase?

[2019-02-02 08:43] zvjerka24 opened #194 "DayViewController with async data?"
Hi @richardtop is there ability to feed DayViewController with async data?

I wanted to block execution until data retrieved but this method is called on main thread
[code]

[2019-02-05 07:42] richardtop commented on #194
Hi,
start fetching the data, then dispatch to the main thread and invoke `reloadData()` as in case with `UITableView` or `UICollectionView`.

[2019-02-06 05:01] zvjerka24 commented on #194
Hi,
that is exactly what I did at last :)

Thank you!

[2019-02-06 05:01] #194 closed

[2019-02-13 09:33] MinseokJeong commented on #182
Hmm I have facing same situation. Anybody please fix these issue please :D

[2019-02-15 05:31] avinash-ramireddy commented on #25
I have also issues with this.
I just demo project(CalendarKit) from this github repo.

When we rotate to landscape and comeback then
1. DayHeaderView view day and date are not aligned properly.
<img width="332" alt="screenshot 2019-02-15 at 10 59 50 am" src="https://user-images.githubusercontent.com/16798757/52836521-eef85280-3110-11e9-915a-3f33f840b0b2.png">

2. TimelinePagerView timeline view be

[2019-02-19 23:27] stomper3579 opened #196 "Stacking Issue"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

I'm seeing a weird stacking issue.  Events that don't overlap are not stacking on top of ea

[2019-02-20 20:24] mangen opened #197 "Top dates scroller not only by dates but years/months/weeks"
Hello,

First of all thanks a lot for gorgeous pod, I love it. Just started to study it and have a question.

Is it possible to present top navigation scroller not only by dates, but also by weeks/months/years?
<img width="257" alt="screen shot 2019-02-20 at 13 19 13" src="https://user-images.githubusercontent.com/1110959/53121837-61eb3a00-3512-11e9-9f5e-393deb6c724b.png">

Thanks in advance!

[2019-02-21 02:46] kaizer122 commented on #187
2

[2019-02-23 09:04] nastasiupta opened #198 "2 days Event object is not set properly"
### New Issue Checklist

- [ x ] Use the latest version of CalendarKit
- [ x ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ x ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Demo: https://drive.google.com/file/d/1q_pUS-y5HmiOtQRocJ16xRvMWVvin357/view?usp=shari

[2019-03-02 09:57] sariminapp opened #199 "How to show only hourly calendar?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

![WhatIW

[2019-03-06 18:59] richardtop commented on #196
Please, provide the code and specific event dates which lead to this error.

[2019-03-06 19:00] richardtop commented on #197
Please, provide an UI mockup for the desired behavior.

[2019-03-06 19:01] richardtop commented on #199
Please, provide an UI mockup, and/or more detailed description of what you're trying to achieve.

[2019-03-07 01:21] sariminapp commented on #199
Thanks for replying,
Here are the mockup. First I create monthly calendar. The dot in calendar mean that date have event. Only date with dot can be clicked. When clicked, I sent data to detail event page:
1. date choosen (as string)
2. start event hour:minutes (as array string)
3. end event hour:minutes (as array string)
4. event title (as array string)
5. event all day event (as array boolean)
6.

[2019-03-07 11:55] isachinanand opened #200 "height of cell"
Sir , I'm working in my college project. I want to know how can I change the height of each cell in the view?
please help me out.

[2019-03-07 15:22] polymorphia commented on #194
Sorry, can anyone post an example of this?

[2019-03-14 23:49] richardtop commented on #200
Hi, your question is unclear. Please follow the template and describe the result you'd like to achieve more in detail.

Closing it now, please open a new issue when you have more detailed description of your goal.

[2019-03-14 23:49] #200 closed

[2019-03-29 13:52] richardtop opened #201 "Swift 5 support"

[2019-03-31 00:53] tschmitz commented on #10
Any chance that CalendarKit will support Carthage in the near future?

[2019-03-31 05:35] ghousesgb commented on #197
Could we have calendar view with month, year alone with week

[2019-03-31 19:22] richardtop commented on #197
@ghousesgb please, elaborate on what you're trying to achieve.

[2019-03-31 19:23] richardtop commented on #10
@tschmitz yes, it will, please take a look at the prerequisites to make that change possible.

[2019-04-02 01:57] #201 closed

[2019-04-04 06:57] sanathterli opened #203 "How to set frame of custom events in TimelineView according to StartTime and EndTime"

[2019-04-04 07:03] sanathterli commented on #203
![device-2019-01-07-154416](https://user-images.githubusercontent.com/27924116/55535705-8ae81880-56d5-11e9-9833-15d0e77eb0f8.png)
I need to achieve, This with start and end time in TimeLineView by changing the frame(x,y,width,height)

[2019-04-15 13:43] LOG-TAG commented on #72
![image](https://user-images.githubusercontent.com/1190344/56137467-8e6f7f80-5fb2-11e9-9b85-0b02b14e258d.png)

[2019-04-17 09:45] aymenbraham opened #204 "How to add a segmented controller in the view ??"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-04-26 13:44] keith-williams2 commented on #182
I solved this by adding a function to the DayViewStateUpdating protocol called moveWithoutAnimation(to date: Date).  I then added my own implementation of this and called it in the viewDidLoad().  If I were to spend more time on this I would probably change the move function to public func move(from oldDate: Date, to newDate: Date, _ animated: Bool = true)

[2019-05-01 12:41] richardtop commented on #204
Please provide UI mockups or more detailed description of what you're trying to achieve.

[2019-05-01 12:41] #204 closed

[2019-05-08 10:50] AmolVJ opened #205 "dayView.state?.move(to: date) not showing event on timeline"
dayView.state?.move(to: date) not showing event on timeline and after swipe on timeline its showing event for that and not for next day.

[2019-05-08 10:56] #205 closed

[2019-05-08 10:58] AmolVJ commented on #205
Adding "dayView.state?.move(to: date)" in viewDidAppear worked.
Thanks to @richardtop https://github.com/richardtop/CalendarKit/issues/182#issuecomment-439717689

[2019-05-14 23:21] #55 closed

[2019-05-14 23:21] #114 closed

[2019-05-22 18:56] richardtop commented on #147
Should be fixed in the latest releases.

[2019-05-22 18:56] #147 closed

[2019-05-24 09:57] ankitjaiswal1994 commented on #95
@sinisa503 Could you please help us if you have already did this ?

[2019-05-24 10:36] hexpl0it commented on #187
For solve this problem I used a container view

[2019-05-31 18:42] fernandocani opened #206 "Update the "Now" line automatically"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
The current hour line start correctly, but does not update automatically, only if i update t

[2019-05-31 23:34] richardtop commented on #206
Hi, @fernandocani thanks for the report, could you please tell, which CalendarKit version you're using? You can check this in `Podfile.lock`

[2019-06-03 13:35] fernandocani commented on #206
Hi @richardtop,

[code]

[2019-06-03 20:51] richardtop commented on #206
Thank you for the report. It's clearly a bug. I'll take a look and fix it. Until now, you can roll back to a previous version of the library, e.g. `0.6.0` and see if the problem is still reproducible.

[2019-06-03 20:53] richardtop commented on #206
Please, take a look at the `Podfile.lock` of your project, not the one provisioned with the demo library. The `Podfile.lock` should be at the root of your project directory (i.e. your app).

[2019-06-06 19:23] bWheeler1977 opened #207 "Removal of PagingScrollView"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
So, with the update from 0.6.0 to 0.6.1 and now 0.7.0, I see that PagingScrollView was remov

[2019-06-07 03:55] ServicePal opened #208 "dayView.autoScrollToFirstEvent = true does not scroll timeline when tapping in week header"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Small regression in 0.7.0.
When using dayView.autoScrollToFirstEvent = true the timelineView

[2019-06-08 21:20] bahaTRKGLU opened #209 "How can I translate days into another language?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-06-09 15:54] richardtop commented on #209
It should be available by default, just change the app's language to the desired one.

[2019-06-10 09:27] Rohan29 commented on #197
Hi  @richardtop ,
Want to create monthlyView to select date.
![Screenshot 2019-06-10 at 2 55 36 PM](https://user-images.githubusercontent.com/23051728/59186238-01027300-8b90-11e9-815b-fa7e1530ffc0.png)

[2019-06-10 09:29] Rohan29 commented on #197
Hi @richardtop , i want to implement same functionality with month View
Thanks

[2019-06-10 19:15] #208 closed

[2019-06-10 19:15] #207 closed

[2019-06-10 19:15] #206 closed

[2019-06-10 19:16] richardtop commented on #206
Fixed in [0.7.1](https://github.com/richardtop/CalendarKit/tree/0.7.1).
Please, let me know, if the issue still persists.

[2019-06-10 19:16] richardtop commented on #207
Fixed in [0.7.1](https://github.com/richardtop/CalendarKit/tree/0.7.1).
Please, let me know, if the issue still persists.

[2019-06-10 19:16] richardtop commented on #208
Fixed in [0.7.1](https://github.com/richardtop/CalendarKit/tree/0.7.1).
Please, let me know, if the issue still persists.

[2019-06-10 20:16] richardtop commented on #203
This is impossible. The only way to change event's layout is to change it's `startDate` and `endDate` properties while returning an `event` object in `eventsForDate` method.

To achieve the following layout, you'll need to create events with an evenly spaced interval, e.g. 20 minutes:

[code]
However, it's impossible to do lay out events using just frames.

[2019-06-10 20:16] #203 closed

[2019-06-10 20:17] #188 closed

[2019-06-10 20:18] richardtop commented on #192
Closed in favor of #175

[2019-06-10 20:18] #192 closed

[2019-06-10 20:30] #180 closed

[2019-06-10 20:36] #187 closed

[2019-06-10 20:37] richardtop commented on #187
Fixed in [0.7.2](https://github.com/richardtop/CalendarKit/tree/0.7.2).
If the bug reappears, please add a comment here or create a new issue.

[2019-06-10 20:40] richardtop commented on #196
Relevant issue #113

[2019-06-10 21:17] fernandocani commented on #206
Hi, it works now!
Thanks for the fix and the attention.
Have a great week o/

[2019-06-11 06:11] richardtop commented on #197
@Rohan29  you'll need to use a different library for the Month view and integrate the month component together with the CalendarKit. E.g. show month view when the user taps on the button in the navigation bar. CK is currently all about the DayView and doesn't support month / year views.

[2019-06-11 16:03] #158 closed

[2019-06-11 16:04] richardtop opened #210 "Support Swift Package Manager"
Related #10

[2019-06-12 07:05] Rohan29 commented on #197
Hi @richardtop, thanks for responding ,I have used **VACalender**  to achieve desired result.

[2019-06-12 08:34] richardtop commented on #197
Great!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-12 08:34] #197 closed

[2019-06-20 22:39] drouston opened #211 "move(to: ) forcing timeline view to 12:00 am"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

When I call dayView.state?.move(to: ) the subsequent timeline view resets to 12:00 am. I'd

[2019-06-21 16:24] drouston commented on #211
Quick clarification: the iOS example has this behavior when

autoScrollToFirstEvent = false

Thanks.

[2019-06-26 02:22] jmanoel opened #212 "How to repeat event every week day?"
Hello, how are you?

Can anyone tell me how to creat an event that repeats every Monday for example?

Thanks in advance. Best Regards

[2019-06-26 07:34] richardtop commented on #212
Return it every time calendarKit asks for `eventsForDate(date)` and the date asked is a Monday :)

[2019-06-26 09:04] bahaTRKGLU commented on #209
thank you so much.

[2019-06-26 09:04] #209 closed

[2019-06-26 13:59] jmanoel commented on #212
Thank you. I will try it. :)

Best Regards

[2019-06-26 13:59] #212 closed

[2019-06-26 21:23] drouston commented on #211
Updates:

- I set

'''Swift
dayView.isHeaderViewVisible = true
'''

and attempted to tap the dates in the header view. I observed the same behavior with the day view resetting to 0:00 hrs.

- I've removed and reinstalled the pods for CalendarKit and dependencies for a clean install. No change.

- I attempted to modify the date in move(to:) to include hour and minute components equal to the previou

[2019-06-27 21:58] drouston commented on #211
<div style='position:relative; padding-bottom:calc(216.43% + 44px)'><iframe src='https://gfycat.com/ifr/VagueAcademicEland' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>

[2019-06-28 01:37] omerbaskurt opened #213 "Current Time 12/24 hour issue"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve
I want to

[2019-07-01 09:34] amdescombes opened #214 "Problem using CalendarKit in existing Navigation Controller"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hello,
First let me congratulate you on a great library.

I am trying to use CalendarKit in

[2019-07-01 09:53] amdescombes commented on #214
Hi,
I found the issue, I forgot to set the isTranslucent property to false :

navigationController?.navigationBar.isTranslucent = false

Thanks again for a great library !

Cheers
André

[2019-07-01 09:53] #214 closed

[2019-07-04 00:52] jmanoel opened #215 "Event stopping on now line"
Hello. I created an event that will go until 23:59. But it only show until now Line.

How can I resolve this issue?
<img width="387" alt="Captura de Tela 2019-07-03 às 21 51 49" src="https://user-images.githubusercontent.com/4211703/60632572-cbdaf080-9ddc-11e9-8039-216518e07137.png">

[2019-07-04 14:44] #215 closed

[2019-07-04 15:24] richardtop commented on #215
@jmanoel how did you solve the issue?

[2019-07-04 16:00] jmanoel commented on #215
Hello. Was my mistake. I Was creating a wrong end time event and It was replacing by current date

[2019-07-12 22:51] chrismaddern opened #217 "iOS 13 SDK Calendar Day Picker Layout Issue"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
<img width="265" alt="Screen Shot 2019-07-12 at 6 49 33 PM" src="https://user-images.githubu

[2019-07-21 22:58] grosch opened #218 "Doesn't work with Xcode 11"
### New Issue Checklist

- [X] Use the latest version of CalendarKit
- [X] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [X] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

Will not compile with Xcode 11

##### Code I'm using with CalendarKit

I get lots of errors

[2019-07-21 23:10] grosch commented on #218
It's now compiling.  Seems like it was some transient issue.

[2019-07-21 23:10] #218 closed

[2019-07-25 13:16] ivankriak commented on #199
`dayView.isHeaderViewVisible = false`

[2019-07-25 15:54] Nikoloutsos commented on #148
@djxmax  Sorry for asking but I am interested in building something like the picture you sent.
Have you find anything? Can you share it with us??

[2019-07-30 19:27] stevenang opened #219 "[Question] How to set time interval"
I have a question on how to change the current setting of the time.

The current view of the DayView started from 00:00 to 00:00 (24 Hours).
Is there a way we can do it in such way we can display only the certain time?
(For example: 09:00 - 18:00)

Also, I would like to set the interval from 1 hour to every 20 minutes.

Thank you in advance for the reply.

[2019-08-01 01:54] stevenang opened #220 "Wrong Date return from the DayView"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Wrong date returned using
`self.calendarDetailsView.state?.selectedDate`
after assigning dat

[2019-08-01 01:55] stevenang commented on #219
I already figure out how to do this.

[2019-08-01 01:55] #219 closed

[2019-08-01 13:41] ClaudioPerroni commented on #58
Any update?

[2019-08-02 13:43] drouston commented on #211
Hello @richardtop, just following up on this one. Any news?

Thanks.

[2019-08-04 21:31] aniq-pirzada opened #221 "willMoveTo executed twice each time."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Is there a way to remove the timeline and just use the header only to select dates.

##### C

[2019-08-05 12:04] aniq-pirzada commented on #221
I have fixed the issue by rebuilding the pods - but now I am having another problem.
I have added a View into my storyboard which has the custom class: 'DayView'
I implemented DayViewDelegate which has the standard stubs including:

[code]

But when selecting a day the function willMoveTo executed twice each time.
For example the output I am getting is:
[code]

[2019-09-09 22:41] ysaucedo commented on #95
I need this functionality, I can cooperate with money who makes the adjustment

[2019-09-10 13:42] ankitjaiswal1994 commented on #95
@ysaucedo If you need something like below attachment I can help you without money.
![Simulator Screen Shot - iPhone 6 - 2019-09-10 at 19 11 26](https://user-images.githubusercontent.com/20721521/64618944-de862d00-d3fe-11e9-83ed-4c2b023a8a0f.png)
![Simulator Screen Shot - iPhone 6 - 2019-09-10 at 19 11 27](https://user-images.githubusercontent.com/20721521/64618952-e34ae100-d3fe-11e9-82bb-162f0400

[2019-09-11 00:30] richardtop commented on #72
Implemented in v 8.0

[2019-09-11 00:30] #72 closed

[2019-09-12 02:09] ysaucedo commented on #95
@ankitjaiswal1994

Hi! It's what i'm looking for,
Can you share the control you mention?

[2019-09-12 05:43] ankitjaiswal1994 commented on #95
@ysaucedo I tried in Calendarkit it doesnt seem possible. I was not able to get that view where I can create that dot.

So I used this library : https://github.com/WenchaoD/FSCalendar

With little bit customization it worked as the exact way what I need.

[2019-09-25 13:53] SergeyBukarev opened #223 "Incorrect date slider. Weeks disappear."
When I make the transition two weeks ago (or more), the previous week disappears.
Today is 25 september 2019
i make
`dayView.state?.move(to:  11 september 2019  )`

I have this
<img width="499" alt="Снимок экрана 2019-09-25 в 16 44 10" src="https://user-images.githubusercontent.com/22888653/65607267-eaecb700-dfb4-11e9-87ed-91044c522d0c.png">
<img width="275" alt="Снимок экрана 2019-09-25 в 16 47 5

[2019-09-28 19:52] gicugavrisco commented on #217
Experiencing the same issue.

[2019-09-29 20:52] richardtop commented on #217
I wasn't able to reproduce this issue, could you please specify more in detail the environment you're compiling your project with?

Here is my screenshot of the latest CalendarKit build with Xcode 11.1 GM and running on iPad 11 Pro with iPad OS 13.1

![Simulator Screen Shot - iPad Pro (11-inch) - 2019-09-29 at 23 50 26](https://user-images.githubusercontent.com/8013017/65839299-39cb8100-e314-11e9-

[2019-09-29 20:53] richardtop commented on #223
Are you using a programmatic API to transition to a different date?

[2019-09-29 21:01] SergeyBukarev commented on #223
Yes, i use programmatic API of DayViewController for transition.
On the first view controller, I select a day in a month. On the second view controller (DayViewController), I switch to the selected day using:
dayView.state?.move(to: date) on viewDidLoad method.

[2019-09-29 21:45] richardtop commented on #223
Could you please post a minimum reproducible example project here? Just upload it as zip. Also, if you’re using another library together with the CalendarKit, please integrate it also.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-11 06:24] zanyfly commented on #220
replace the format date string 00:00:00  with 12:00:00, then transform the string to date

[2019-10-14 23:56] bithavoc opened #224 "Expose tapped date on dayViewDidTapTimeline and dayViewDidTapTimeline"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
I need to create events on single tap, for that I need the tapped date.

#### Code I'm using

[2019-10-15 13:29] ouberghouz commented on #54
Ithink this what you need

let style = CalendarStyle()
        let timeline = style.timeline
        timeline.verticalDiff = 90 //play here
        dayView.updateStyle(style)

[2019-10-15 17:08] richardtop commented on #224
Great idea. Please, refer to the `didLongPressTimeline at date` for the inspiration.
If there is some common code between those two methods, please extract it to the private methods inside respective classes.

[2019-10-16 18:12] SunnyBamaniya opened #226 "I just need Timeline view not with the calendar. Is there any possibilities?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-10-16 18:36] richardtop commented on #226
Hi, just use the components then, not the whole `DayViewController`.
See example in [ExampleNotificationController](https://github.com/richardtop/CalendarKit/blob/master/CalendarKitDemo/CalendarKitDemo/ExampleNotificationController.swift)

[2019-10-20 08:50] SunnyBamaniya commented on #226
Thanks @richardtop for the reply.
I used ExampleNotificationController but now we need to add Multiple events without using calendar.

Can you please just help to come out from the issue.
Thanks.

[2019-10-20 11:30] richardtop commented on #226
Please, attach the screenshot or mockup of what you're trying to achieve.

[2019-10-20 13:08] SunnyBamaniya commented on #226
![photo_2019-10-20 18 37 40](https://user-images.githubusercontent.com/5909435/67159933-c17f3b00-f368-11e9-9696-5b833dfcc278.jpeg)
We are trying something like it.
We already implemented in Android App.

[2019-10-20 13:58] richardtop commented on #226
It doesn't show one event at a time, please check examples.
It shows any number of events you pass by the DayViewDataSource.

[2019-10-20 14:45] SunnyBamaniya commented on #226
![image](https://user-images.githubusercontent.com/5909435/67161246-46248600-f376-11e9-800f-bdab6f365861.png)

this how we added the code
still not working.
can you let us know what the wrong thing i am doing.

[2019-10-20 19:59] richardtop commented on #226
What is the contents of the array?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-21 16:09] SunnyBamaniya commented on #226
How can we increase spacing (height) between to hours like 9:00 AM to 10:00?

![image](https://user-images.githubusercontent.com/5909435/67222611-49d60c80-f44b-11e9-8f99-681415150988.png)

[2019-10-21 16:53] richardtop commented on #226
Take a look into verticalDiff property of the CalendarStyle

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-22 09:09] SunnyBamaniya commented on #226
![image](https://user-images.githubusercontent.com/5909435/67272119-8fd9b180-f4d9-11e9-848d-ddda29b90755.png)

this is our code and we are unable to set data.
Can you just late us where i am wrong.

i also attach json file here.
[JSON.txt](https://github.com/richardtop/CalendarKit/files/3754570/JSON.txt)

[2019-10-22 10:40] richardtop commented on #226
Please, configure an example project and attach it here, so I could run it locally.

[2019-10-22 11:22] SunnyBamaniya commented on #226
Hello Richardtop,
Here i attach sample project.
also let us know how can i get value of selected timeline.

Thanks

[SampleTesting.zip](https://github.com/richardtop/CalendarKit/files/3755212/SampleTesting.zip)

[2019-10-23 16:23] SunnyBamaniya commented on #226
Hello @richardtop
Can have any feedback on above example?

[2019-10-24 18:43] richardtop commented on #226
Hi, I hope to check it next week.

[2019-10-26 12:00] fury21 opened #228 "Russian localization"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hi!
My iPhone have Russian localization, but some part of UI still in English. How can it fi

[2019-10-27 20:36] richardtop commented on #228
Hi, are you sure you’re supporting Russian locale in your app?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-28 09:29] fury21 commented on #228
What do you mean? On my iPhone, Russian localization is turned on. The entire interface is in Russian.

[2019-10-28 12:44] richardtop commented on #228
Ok, a localization in the app target also has to be russian. Could you please attach a minimum reproducible example here as an archive?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-28 14:43] fury21 commented on #228
[Man School123.zip](https://github.com/richardtop/CalendarKit/files/3779190/Man.School123.zip)

ok

[2019-10-28 22:29] richardtop commented on #228
Thanks, I’ll take a look this week.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-29 23:37] richardtop commented on #228
Hi, you've forgot to include Russian in the target's development language:
<img width="1792" alt="Skärmavbild 2019-10-30 kl  01 32 25" src="https://user-images.githubusercontent.com/8013017/67817303-8c37c300-fab5-11e9-8652-30af7bad1354.png">

After that it's possible to run the app in the Russian locale and it displays day symbols also in Russian:
![IMG_2069](https://user-images.githubusercontent

[2019-10-31 12:35] tanphamanhh opened #230 "Can't try calenderkit"
### Command

[code]

### Report

* What did you do?
using terminal to run calenderkit with command above
* What did you expect to happen?
I can try CalenderKit
* What happened instead?
Error when try

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2019-10-31 17:06] richardtop commented on #230
Hi, it’s a known CocoaPods bug, try running ‘pod try Hero’, for example: you’ll get the same error.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-04 23:00] richardtop commented on #230
Closing, as it's issue not related to the CalendarKit

[2019-11-04 23:00] #230 closed

[2019-11-04 23:05] richardtop commented on #226
[SampleTesting.zip](https://github.com/richardtop/CalendarKit/files/3806466/SampleTesting.zip)
@SunnyBamaniya  you had an error in layout. Please, learn more about UIKit and how to do manual / auto layout.

I fixed your issue to make the Calendar occupy the whole view.

[2019-11-04 23:14] richardtop commented on #221
This issue has been fixed in the latest release of the CalendarKit:

[code]

[2019-11-04 23:14] #221 closed

[2019-11-04 23:16] richardtop commented on #217
Closed: cannot reproduce.

[2019-11-04 23:16] #217 closed

[2019-11-04 23:16] #199 closed

[2019-11-04 23:17] richardtop commented on #196
Closed as a duplicate

[2019-11-04 23:17] #196 closed

[2019-11-04 23:19] richardtop commented on #121
Implemented in the latest release of the CalendarKit

[2019-11-04 23:19] #121 closed

[2019-11-04 23:19] #56 closed

[2019-11-04 23:21] richardtop commented on #148
Closed in favor of #22

[2019-11-04 23:21] #148 closed

[2019-11-04 23:22] richardtop commented on #141
Closed in favor of #22

[2019-11-04 23:22] #141 closed

[2019-11-04 23:22] richardtop commented on #100
Closed in favor of #22

[2019-11-04 23:22] #100 closed

[2019-11-04 23:22] richardtop commented on #96
Implemented in the latest release of the CalendarKit

[2019-11-04 23:22] #96 closed

[2019-11-04 23:23] richardtop commented on #137
Done

[2019-11-04 23:23] #137 closed

[2019-11-04 23:24] #193 closed

[2019-11-05 10:43] IronMaltes commented on #121
Thanks! I'll give it a try to see what can be implemented on top of that.
Any documentation on how to use it?

Great job man!

[2019-11-06 07:02] EAmey commented on #226
Hey @richardtop

I tried this solutions and it's working perfectly. But is it possible to add multiple event for same datetime. Currently I have added 2 events and second one is with large duration but its overlapping first one. Can you help on this?

[2019-11-06 08:52] richardtop commented on #226
Send a screenshot please. Definitely should be possible.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-06 11:08] SunnyBamaniya commented on #226
Hi @EAmey
Can you share your example?
How you set 2 events using ExampleNotificationController.

[2019-11-06 12:05] SunnyBamaniya commented on #226
Hello @richardtop
I just want to add multiple events using ExampleNotificationController.

here I tried in ViewController.swift but unable to add multiple events.
[SampleCalendar.zip](https://github.com/richardtop/CalendarKit/files/3814287/SampleCalendar.zip)

[2019-11-08 06:11] EAmey commented on #226
Please find below code

 if let arrTask = TimesheetTasks.getEventsForDate(date: timelineContainer.timeline.date)
             {

                for task in arrTask
                {
                    //working with 12 hours format only

                  let event = Event()
                    event.startDate = task.startTime
                    event.endDate = task.endTime

[2019-11-08 06:13] EAmey commented on #226
@SunnyBamaniya
Please find code as below

 lazy var timelineContainer: TimelineContainer = {
        let timeline = TimelineView()
        timeline.frame.size.height = timeline.fullHeight
        timeline.eventViewDelegate = self
        var currentCalendar = Calendar(identifier: .gregorian)
           currentCalendar.locale = Locale.current
           currentCalendar.timeZone = TimeZone.current

[2019-11-14 09:30] SunnyBamaniya commented on #226
Hello @richardtop
How can we configure timing instead of 12 am - 12 am to 09 AM - 06 PM?

[2019-11-14 17:58] richardtop commented on #226
Currently it's impossible (see #34).

[2019-11-15 06:02] #226 closed

[2019-11-15 11:46] SuyogCTS opened #231 "Need help to create Calendar for week View Or Three day View. Could you please let me know how can I do that?"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-11-15 13:01] richardtop commented on #231
Hi, currently this is not supported.
It's a duplicate of #22.
You may, however, try to integrate multiple CalendarKit components and assemble a week-view - like design.
I think that the proper implementation of the Week View would require changes in the underlying CalendarKit modules.

[2019-11-17 23:57] #231 closed

[2019-11-20 10:21] fury21 opened #232 "Automatic change to dark theme."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

Hi! Propose a to remove button, "dark", and change themes on dark and back to do automatic

[2019-11-20 10:22] fury21 opened #233 "Add a day of the week picker date picker."
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hi! I propose to add a day of the week picker date picker.

##### Code I'm using with Calend

[2019-11-20 10:24] fury21 opened #234 "Use in navigation bar background color in light theme default color"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hi! How can i use in navigation bar background color in light theme default color?

##### Co

[2019-11-20 16:35] richardtop commented on #233
Please, illustrate your proposal.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-20 16:37] richardtop commented on #234
Your question is unclear. Please clarify it, or provide more context.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-20 16:40] richardtop commented on #232
The dark style attached is just for example purposes. The user of the library has to either copy that style or implement a custom one in order to support the dark mode.

However, it’s a good suggestion to incorporate such style into the library source code and not just an example.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-20 18:42] richardtop opened #235 "Create events: when dragging an event the time in the delegate call is different from the one displayed in the Calendar Sidebar"
### Issue Description

Create events: when dragging an event the time in the delegate call is different from the one displayed in the Calendar Sidebar

[2019-11-21 10:38] fury21 commented on #232
An example of a dark theme turned out very well and it should be made the main dark theme

[2019-11-21 10:44] fury21 commented on #233
![jaazpw9ql4ec](https://user-images.githubusercontent.com/30409500/69330953-fd0d6d80-0c64-11ea-840a-88eca06acb39.png)

[2019-11-21 10:50] richardtop commented on #232
Ok, great. I'll incorporate it into the project.

[2019-11-22 17:40] payshake opened #236 "EventView - Edit TextView Frame?"
Hey all,

I'm looking for what I hope is a simple fix. I'd like to remove the top padding of the event view, so that the TextView aligns more towards the top of the EventView, and not in the center as it does now.

Can anyone point me in the right direction?

[2019-11-23 14:47] richardtop commented on #236
Hi, please show me graphic illustrations of what it is right now and what you’d like to achieve. Then I’ll be able to help

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-23 16:56] payshake commented on #236
@richardtop Thank you for the quick reply! If you see the attached image, some of the shorter EventView's (20 mins or less) don't show the text, because of a top padding in the view.

Ultimately, I'd like to have the text hug the top part of the cell, so that it would always be visible (or even better, auto-adjust the font size to fit the view)

![IMG_0053](https://user-images.githubusercontent.co

[2019-11-24 11:17] richardtop commented on #236
Have you considered changing the time interval between hours? That’s already implemented in the  library and would solve your problem.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-25 17:30] jbarros35 commented on #58
There is no verticalDiff in TimelineView.swift

[2019-11-25 17:45] richardtop commented on #58
@jbarros35 correct. Also, it's important to not forget to call `updateStyle` method on the DayView.

[2019-11-25 18:15] jbarros35 commented on #232
on the iOS 13 you have to comply with new styles to work.
I'm sending you how I'm using this. Basically you define your own set of colors and after that iOS 13 do the magic for you.

[code]

[2019-11-26 05:13] richardtop commented on #236
Try:
[code]

in your `DayViewController`

[2019-11-26 08:56] Navoda-BrightSparks opened #237 "cannot tap on all day event.if timeline is scrolled to the bottom"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2019-11-26 09:00] Navoda-BrightSparks commented on #237
![IMG_4488](https://user-images.githubusercontent.com/26318062/69614503-3e34c180-1059-11ea-9a6c-7af5f0d10827.PNG)

[2019-11-26 09:21] fury21 commented on #234
I mean that now the background color is different from the default color. How do I change it? See the screenshots
![IMG_1273](https://user-images.githubusercontent.com/30409500/69616213-48e65b00-1047-11ea-9267-630d414e2a73.jpg)
![IMG_1274](https://user-images.githubusercontent.com/30409500/69616214-48e65b00-1047-11ea-8fa7-4431f33bcd2a.PNG)

[2019-11-26 15:20] richardtop commented on #234
I think, you’re using a translucent navigation bar which causes such an effect.
Or something other is wrong in your navigation controller configuration.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-27 00:08] payshake commented on #236
@richardtop Perfect, thank you for the advice and awesome library! (let me know if I can donate via PayPal)

[2019-11-27 03:35] richardtop commented on #236
Thank you! Hope you've resolved your issue. While changing the `verticalInset` would help in the short term, the long-term solution is to support connecting a custom view to the library, similarly to the `UITableViewCell` & `UICollectionViewCell` - there is already a ticket for it: #175.

For donations, please, contact me via [Telegram](t.me/richardtop),
or email: `topchiy` at domain `protonmail`

[2019-12-09 23:01] #236 closed

[2019-12-13 10:50] pradeepktg opened #238 "How to change the Y origin and Embed the calendar in another class?"
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
1. I'm trying to change the Y origin and tried changing in a few places, but it is not movin

[2019-12-13 11:13] #238 closed

[2019-12-13 14:38] pradeepktg opened #239 "Duplicate Events"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hi, I have added only one event and when you go to the next date, the same event is showing

[2019-12-17 07:09] Tawfikk opened #240 "Custom the DayHeaderView"
I have a question about `DayHeaderView`. Can I set is without `TimelinePagerView` and also, how customize it ?

<img width="486" alt="Screenshot 2019-12-17 10 07 13" src="https://user-images.githubusercontent.com/28268405/70972770-334bda80-20b5-11ea-970a-1790bff72f2c.png">

[2019-12-17 07:09] Tawfikk commented on #240
@Rich86man

[2019-12-18 22:48] richardtop commented on #157
It's possible in the current release of the CalendarKit by configuring it with the custom calendar.

![Simulator Screen Shot - iPhone 11 Pro - 2019-12-19 at 00 47 11](https://user-images.githubusercontent.com/8013017/71129912-4071e200-21f9-11ea-8de8-66e40ea806b7.png)

[2019-12-18 22:48] #157 closed

[2019-12-18 22:52] richardtop commented on #211
This is a known bug in the library. Thank you for reporting it.

[2019-12-18 22:53] #234 closed

[2019-12-31 13:04] pradeepktg opened #241 "Adding Event to the UserDefaults"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Hi, Is there any way to add the Event to the UserDefaults? I tried to add but getting the be

[2020-01-07 16:21] richardtop opened #242 "Fix access modifiers in Public API"
Currently the public API has too many `public` or `open` methods which makes it difficult to understand the surface of the API and what should be commonly used.

Making most of those methods `internal` or `private`  would reduce the surface of the API, so that the library would be easier to use.

Since some people may need a specific API, they should submit an issue to make the access modifiers le

[2020-01-07 16:49] richardtop commented on #235
Fixed, handled in the `EventEditingSnappingBehavior`.

[2020-01-07 16:49] #235 closed

[2020-01-07 17:44] richardtop commented on #241
Hi, the `Event` protocol doesn't allow persistence. You'll need to create your own code to store all of the values in the `Event` and restore it on app launch.

That could be JSON, CoreData or UserDefaults as you mentioned. However, this is out of scope of the CalendarKit. Please, ask your question on the StackOverflow using the `CalendarKit` tag.

[2020-01-07 17:44] #241 closed

[2020-01-08 21:18] #237 closed

[2020-01-08 21:22] #223 closed

[2020-01-08 21:22] richardtop commented on #223
Closing this issue due to inactivity. If the problem persists, please reopen it or create a new one.

[2020-01-08 21:37] richardtop commented on #239
Hi, thank you for the example. I've tried to run it and figured out that there is an error in the code. In particular, the `date` requested by the `DayView` is assigned to the `Event`. Please, take a look at my comments:

[code]

Here is the corrected code that works as expected, showing the event just on the one page of the calendar:

[code]

[2020-01-08 21:37] #239 closed

[2020-01-08 21:38] richardtop commented on #198
Please, upload your files again.

[2020-01-08 21:39] #181 closed

[2020-01-08 21:50] #224 closed

[2020-01-08 22:38] richardtop commented on #213
The issue isn't reproducible with the code attached when put into the `viewWillAppear` method:
[code]

Result:

![Simulator Screen Shot - iPhone 11 Pro - 2020-01-09 at 00 37 14](https://user-images.githubusercontent.com/8013017/72022082-45fe9d00-3278-11ea-841e-eb9bdc959cda.png)

[2020-01-08 22:38] #213 closed

[2020-01-09 20:20] #198 closed

[2020-01-09 20:29] #159 closed

[2020-01-09 21:13] richardtop commented on #240
Hi, currently there is no easy way to customize it beyond changing a style.
One of the option would be to to use the CalendarKit components to assemble own DayView.

E.g. in this example, you'll need to use `TimelinePagerView` and create own version of the `DayView`, using your custom header.

[2020-01-10 06:23] #240 closed

[2020-01-27 02:33] narmertechnology opened #244 "Column Behavior"
We're using CalendarKit pretty heavily in our app (and loving it!), but we're seeing some inefficient behavior with the way the columns and rows are being displayed.

Please see below:

![IMG_0196](https://user-images.githubusercontent.com/52138958/73146957-b9771b80-407a-11ea-9c33-fe610bd272b2.png)

When compared with the Apple Calendar below, it seems some of the rows on CalendarKit that could be

[2020-01-27 02:50] richardtop commented on #244
Hi, it's an error in the layout algorithm, already filed here: #113
While the algorithm works well for a small number non-overlapping events, it definitely has issues when the number of events grows large enough.

[2020-01-27 18:45] IronMaltes opened #245 "eventResizeHandles?"
Hi Richard!

I'm wondering why is this for: eventResizeHandles.forEach{addSubview($0)}
If seen that this creates the resizing handles when editing, but looks like is not fully implemented or am I missing something ?

Thanks a lot!

[2020-01-27 21:30] richardtop commented on #245
Hi, you’re right, it’s a “deactivated” feature for now.
Are you using CalendarKit in one of your apps? I’d be happy to hear about the usage pattern, drop me a line to an email in my profile page.
Richard

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-02 19:46] richardtop commented on #245
Fixed in [0.12.1](https://github.com/richardtop/CalendarKit/tree/0.12.1)

[2020-02-02 19:46] #245 closed

[2020-02-05 10:04] IronMaltes commented on #170
Hi Richard, I understand you plan to drop Neon because is not being updated anymore, it seems abandoned by his author, right?

[2020-02-05 11:37] richardtop commented on #170
Yes, that’s the idea. Also, it’s incompatible with swift package manager and other platforms (macOS).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-05 13:05] IronMaltes commented on #170
Yea, I've seen it. Are you going switch to another library or put the functionalities into the library?
I'm asking this because I'm also using it in my project, and actually was a nice help

[2020-02-05 20:52] richardtop commented on #170
I'll leverage AutoLayout to replace Neon.
You'll still be able to use Neon in your project by importing it directly via CocoaPods.

[2020-02-18 21:16] #242 closed

[2020-03-17 09:10] krutitrivedi opened #247 "Can i change position of date from vertical to horizontal?"
Hello, I want to change position of date list as attached screen short please guide me on how to achieve that design. ![Screenshot 2020-03-17 at 2 38 05 PM](https://user-images.githubusercontent.com/28212734/76840338-072f2980-685d-11ea-9c78-8f120ece51b7.png)

[2020-03-17 19:11] richardtop commented on #247
Hi, this design goes beyond CalendarKit. The best way to achieve it is to create a `UITableView` with custom cell. I don't think CalendarKit could help you in this.

Feel free to close the issue if you have no further questions.

[2020-03-18 13:57] krutitrivedi commented on #247
for tableview how can i derive dates? can you please help me on how to get list of dates

[2020-03-20 18:58] al314 opened #248 "Context menu for events ?"
Hello,

Could CalendarKit be able to present a context menu at the event by e.g. using dayViewDidLongPressEventView or some other hook ?
( I tried, but when I was selecting the event the y position changed and it looked weird since the frame seemed detached from the scrollview. I.e. the event that I was selecting for context menu was not anymore returned back into the scroll panel. )

Basically I

[2020-03-21 03:46] richardtop commented on #248
Please, provide a mockup of the design you're trying to achieve and a code sample you've used.
In particular, I'm interested in the code you've put in the  `dayViewDidLongPressEventView ` hook.

[2020-03-21 03:49] richardtop commented on #247
Your design would require an instance of `UITableView`, then you'll need to implement some sort of the DataSource interface between your UI component and the rest of the application (similar to the `UITableViewDataSource` or `DayViewDataSource` in CalendarKit).

On the UI side, you'll need to create a cell layout.

The whole interface should refer to the `Calendar` as a model (or `NSCalendar` in O

[2020-03-21 10:33] al314 commented on #248
Here is the mockup of what I try to achieve:
<img width="295" alt="Screenshot 2020-03-21 at 11 27 19" src="https://user-images.githubusercontent.com/41760619/77223843-d7d43180-6b68-11ea-8b80-65eb718bc89c.png">

while adding something like this into the `dayViewDidLongPressEventView` nothing happens when I add the similar to the dayView the mentioned event displacement happens.

I used your` Exampl

[2020-03-21 13:17] richardtop commented on #248
Thank you for the detailed report. This is clearly a bug. I'll try to fix it asap.

[2020-03-27 04:05] pks297 opened #249 "Incorrect Date and Delete or remove Scheduled Event"
### New Issue Checklist
1. I have already assigned a timezone through code but when I click on the calender then getting different timezone date-time, is it another way to change the timezone, code added below?
[code]

2. I am trying to delete newly added events like swipe but it's not deleting, it there any other way to delete the event?

3. Please let me know if the particular slot has already b

[2020-03-27 08:45] cstlex opened #250 "Multi day event title location"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Location of title label of EventView is hard to find on event with start time and end time i

[2020-03-27 09:27] richardtop commented on #250
Please, attach the code.

[2020-03-27 18:28] cstlex commented on #250
[code]

[2020-03-27 20:48] ServicePal commented on #250
This is a known issue where the event title is not showing across all days the event is planned for. It only shows on for the first day. Don't see it listed as an open issue, but thought it was already on the list.

[2020-03-30 04:07] pks297 commented on #249
Hi Team
please let me know any update regarding this issue.

[2020-03-31 18:58] furiosFast commented on #210
any news?

[2020-04-01 10:32] richardtop commented on #210
Hi, no progress on this.

[2020-04-01 20:21] #250 closed

[2020-04-02 00:20] #247 closed

[2020-04-03 05:19] pks297 opened #252 "If the particular slot has already booked then how to disable that hourly slot"
### New Issue Checklist
If the particular slot has already booked then how to disable that hourly slot, the **user can not click on that particular booked slot**.

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richard

[2020-04-07 04:58] nn75 opened #253 "How to set the begin date (not the current day) and set the range of timeline (not all days)?"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2020-04-11 19:35] #210 closed

[2020-04-13 22:44] richardtop commented on #252
Duplicate of  #249

[2020-04-13 22:44] #252 closed

[2020-04-13 23:17] richardtop commented on #249
Hi, for the issue 1:

Please, provide more details, e.g. what are you trying to achieve and better, a sample project that reproduces the issue.

For the questions 2 and 3:
Please, override the delegate callbacks of the CalendarKit. Inside the needed callbacks (e.g. when the timeline is pressed), check, if another event occupies that space and simply do not call an event creation method of the Cale

[2020-04-13 23:24] richardtop commented on #253
Hi, feel free to correct me if I'm wrong.
As I understood the question, you'd like to limit the user to be unable to view events before and after certain dates, so that the calendar displays only a specific range. For example, 12th December 2019 to 12th of January 2020.

Currently, there is no such functionality and issues #34 and #54 already request these features.

If you'd like to simply show a

[2020-04-17 22:23] #249 closed

[2020-04-17 22:23] #253 closed

[2020-04-17 22:29] #94 closed

[2020-04-17 22:32] richardtop commented on #233
The picker is used only in the demo project and it is not used in the library at all. Feel free to submit the pull request, but since the picker is not used in the library, this change is of little interest.
The demo project is meant to be used only for developers to try the library or to actually develop and test the library code against some generic calendar app example.

[2020-04-17 22:32] #233 closed

[2020-04-18 17:08] richardtop commented on #220
Hi, this issue should be fixed now.
`DayViewState` removes all the time information from the `Date`, so that it should be set at midnight in the timezone of the `DayView`'s calendar.

Therefore, of course, the date set to the `DayViewState` would be different from the one queried and that's normal.

If you still have this issue with the latest version of the CalendarKit, feel free to reopen this i

[2020-04-18 17:08] #220 closed

[2020-04-18 17:15] richardtop commented on #244
#113

[2020-04-18 17:15] #244 closed

[2020-04-18 17:19] richardtop commented on #155
Resolved in the latest version.

[2020-04-18 17:19] #155 closed

[2020-04-18 19:31] richardtop commented on #109
#161

[2020-04-18 19:31] #109 closed

[2020-04-18 19:33] richardtop commented on #173
Closing this issue in favor of #58, as it would solve the problem.

[2020-04-18 19:33] #173 closed

[2020-04-18 19:36] richardtop commented on #182
Closing, as the issue is resolved in the latest CalendarKit version.

[2020-04-18 19:36] #182 closed

[2020-04-26 07:40] lucaslupo opened #256 "dayView.autoScrollToFirstEvent = true does not scroll timeline when tapping in week header"
This doesn't seem to be fixed. https://github.com/richardtop/CalendarKit/issues/208

I can still reproduce on latest master: 0.12.3

[2020-04-26 07:44] lucaslupo opened #257 "Drag and drop not working"
- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Drag and drop of events not working. I can see delegate methods being called for tap and long press but I can't seem

[2020-04-26 11:20] richardtop commented on #257
Please, attach a reproducible example with code.

[2020-04-26 12:53] richardtop commented on #256
Could you please try to investigate the issue a bit more and/or provide a pull request?

[2020-04-26 16:55] lucaslupo commented on #257
I initialize the view controller like this

[code]

[code]

[2020-04-26 16:55] lucaslupo commented on #256
I initialize the view controller like this

[code]

[code]

[2020-04-26 18:21] richardtop commented on #256
Could you please try again but without interface builder? It's not really supported with the CalendarKit.

[2020-04-26 18:58] lucaslupo commented on #256
Sure. I initialized like this now:

[code]

Same issue. By the way, it works when I scroll to the next day. It's just the first initial day that doesn't scroll to the first event

[2020-04-26 19:24] lucaslupo opened #258 "Unable to set the initial date of the calendar"
Is this possible? I tried exploring the code but couldn't find a way to set the initial date of the calendar view. Right now the calendar starts at today's date but I need the first date to be in the future.

Any hint?

[2020-04-26 19:41] lucaslupo commented on #256
Okay, I think I got it working now. I was still using xib for the container, which is, I was embedding the dayView.view inside another view controller in xib. Now however, I am unable to make the dayView cooperate with the rest of the UI, which is, I have a navigation bar on top and tab bar at the bottom and it seems that the dayView overlaps with them and changes the background color.

<img width

[2020-04-26 19:48] richardtop commented on #258
Please, use this method on the `DayViewController`:
[code]

I've addded it to the latest release.

[2020-04-26 19:48] #258 closed

[2020-04-26 19:49] richardtop commented on #256
Looks like some translucency issue. You can try making those bars non-translucent and see if it solves your issue.

[2020-04-26 19:51] richardtop commented on #257
That's a wrong place to create an event. Unfortunately, there is no documentation yet on how to use the event creation API.

These are the methods to be used for the editing API, you don't have to create events in the `eventsForDate` method at all:

[code]

Please, follow the example in the `CustomCalendarExampleViewController.swift`

[2020-04-26 20:18] lucaslupo commented on #256
That worked. Thanks!

[2020-04-26 20:18] #256 closed

[2020-04-26 20:22] lucaslupo commented on #257
That worked.

[2020-04-26 20:22] #257 closed

[2020-04-29 22:09] #170 closed

[2020-04-30 19:11] richardtop commented on #232
Available in 0.13.8

[2020-04-30 19:11] #232 closed

[2020-05-04 05:30] theprojectguy opened #260 "Event View too small for no particular reason"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Before the description, I wanted to say thank you for this amazing library !
So, I have seve

[2020-05-04 05:42] theprojectguy commented on #260
MB
I just saw issue #113 just after the publication of this one. So mine is a duplicated issue (Sorry !).
But do you have any recommendation or solution to add ?

[2020-05-05 19:57] richardtop commented on #260
Hi, thanks for raising this issue. As you've discovered, it's a known bug in the layout algorithm.

In short, it's due to the fact that the algorithm doesn't try to layout the events on top of each other. Rather, it splits the events into multiple columns. If there are multiple long overlapping events, this results in a lot of free space not used.

Usually that means, that the actual events data p

[2020-05-18 17:50] al314 commented on #248
Hello,

I have run into a similar issue once again, while trying to open a completely new view from

```dayViewDidSelectEventView```

[code]

This is my code, I am aware there has been another problem with opening a new view from this function, which to my knowledge was in UIKit. However i'm trying to open a SwiftUI view from this, and it doesn't seem to be working. it does enter the view struct,

[2020-05-21 09:45] ramesh09ios opened #261 "DayViewDelegate methods always Overriding non-@objc declarations from extensions"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
Xcode: Version 11.3
**issue:-**
1) Overriding non-@objc declarations from extensions is not

[2020-05-24 23:20] richardtop commented on #261
Hi, answering your questions:

1. That's it. To fix the issue, move the methods you override back to the class declaration.
2. Issue will be solved when the 1st one is solved
3. Not currently supported, issue created to track it: #175. What kind of customizations are you interested in (please, provide a design mockup).

[2020-05-24 23:22] richardtop commented on #248
Hi,

1. I guess, you need to present the controller itself, not the view. Otherwise, the view controller lifecycle is interrupted, which prevents the view from showing up correctly.
2. No progress on this issue. Feel free to fix it yourself and submit a pull request, I'd be very happy to accept your contribution.

[2020-06-01 22:14] #261 closed

[2020-06-18 04:09] aditya-rastogi23 opened #262 "zPosition enhancement for eventViews"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
I am trying to add zPosition to eventView.layer. Currently, there seems to be no right way t

[2020-06-23 21:07] richardtop commented on #262
Hi, yes please go ahead with the pull request!
Also, could you please share some screenshots showing the issue and the desired behavior?

[2020-06-26 03:17] aditya-rastogi23 commented on #262
![Screenshot (8)](https://user-images.githubusercontent.com/31263366/85816657-99629a00-b789-11ea-954b-369d946e68ca.png)
![Screenshot (9)](https://user-images.githubusercontent.com/31263366/85816660-9a93c700-b789-11ea-8ae9-067c0a895ed9.png)

[2020-06-26 19:01] richardtop commented on #262
@aditya-rastogi23 thanks for the idea, but I suggest changing the layout algorithm, as it could put smaller events on top of the larger ones and the beginning of the event on top of the end of the event.

[2020-06-26 19:02] richardtop commented on #262
Could you please attach a project with the reproducible example of this issue?

[2020-07-01 09:20] MockinMan opened #263 "Setting custom initial date results in a bug when swiping right"
### New Issue Checklist

- [x] Use the latest version of CalendarKit
- [x] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [x] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description
I've found the bug with setting the initial date. If the initial date is not today when swip

[2020-07-13 12:28] richardtop commented on #263
Fixed in 0.13.11

[2020-07-13 12:28] #263 closed

[2020-07-13 12:37] richardtop commented on #262
I'm not sure how you're getting the results as shown on the screenshot, as the current CalendarKit layout algorithm should produce the results as shown:

![Simulator Screen Shot - iPhone 11 Pro - 2020-07-13 at 15 36 04](https://user-images.githubusercontent.com/8013017/87305142-ac61c200-c51e-11ea-9431-8426d3a85497.png)

Please, provide a reproducible example or sample code you're using to achieve

[2020-07-13 12:44] aditya-rastogi23 commented on #262
Hey! I will be attaching the project in a couple of days. Having some issues with my setup. The screenshot you've provided I believe does not use the eventsWillOverlap as true, correct me if I am wrong.

[2020-07-13 13:04] richardtop commented on #262
Thank you for getting back quickly! Yes, you're right. `eventsWillOverlap` feature is not commonly supported, so there might be issues.

Once you attach the project, I'll be able to help you troubleshoot the issue.

[2020-07-14 12:20] shaikhshoeb opened #264 "Auto scroll should work while dragging or resizing events."
### New Issue Checklist

- [ ] Use the latest version of CalendarKit
- [ ] I've read the [Contribution Guidelines](https://github.com/richardtop/CalendarKit/blob/master/CONTRIBUTING.md)
- [ ] I've searched for [existing GitHub issues](https://github.com/richardtop/CalendarKit/issues)

### Issue Description

##### Code I'm using with CalendarKit

[code]

#### Result I am trying to achieve

[INSERT

[2020-07-14 12:20] shaikhshoeb commented on #264
Auto scroll should work while resizing and dragging event up and down

[2020-07-14 15:46] richardtop commented on #264
Could you attach a video demo of the issue? Or a bit more detailed explanation?

[2020-07-14 15:54] shaikhshoeb commented on #264
[Uploading RPReplay_Final1594741802.MP4.zip…]()

Like when you drag event out of window scrollview should scroll up/down.
if ur resize event it should scroll up and down like i had attached the video